<template>
  <div class="account">
    <div class="container">
      <div class="account__header_mob">
        <h2 class="account__header-title">личный кабинет</h2>
      </div>
      <Tabs :links="navLinks">
        <template v-slot:content>
          <div class="history">
            <div class="history__rocket"></div>
            <div class="history__star_left_top"></div>
            <div class="history__star_left_bottom"></div>
            <div class="history__inner">
              <Table :thead="['№', 'чек', 'дата регистрации', 'статус чека']">
                <template v-slot:tbody>
                  <tr v-for="(item, index) in checks" :key="index">
                    <td>{{ item.number }}</td>
                    <td>{{ item.id_for_user }}</td>
                    <td>{{ item.date_create }}</td>
                    <td :class="'status-' + item.status.type">
                      {{ item.status.text }}
                      <span
                        class="error_icon"
                        v-if="item.status.type === 'bad'"
                        v-tooltip="item.status.rejectReason"
                        >?</span
                      >
                    </td>
                  </tr>
                </template>
                <template v-slot:mobile>
                  <div
                    class="mobile_table"
                    v-for="(item, mobIndex) in checks"
                    :key="mobIndex"
                  >
                    <div class="mobile_table__header">
                      {{ item.number }}. чек № {{ item.id_for_user }}
                    </div>
                    <table>
                      <tbody>
                        <tr>
                          <td>дата регистрации</td>
                          <td>{{ item.date_create }}</td>
                        </tr>
                        <tr>
                          <td>статус чека</td>
                          <td :class="'status-' + item.status.type">
                            {{ item.status.text }}
                            <span
                              class="error_icon"
                              v-if="item.status.type === 'bad'"
                              v-tooltip="item.status.rejectReason"
                              >?</span
                            >
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </template>
              </Table>
            </div>
            <div class="history__rabbit"></div>
            <div class="history__star_right_top"></div>
            <div class="history__star_right_bottom"></div>
          </div>
        </template>
      </Tabs>
    </div>
  </div>
</template>

<script>
import Tabs from "@/components/Tabs.vue";
import Table from "@/components/Table.vue";

export default {
  components: {
    Tabs,
    Table,
  },
  data: function () {
    return {
      navLinks: [
        {
          value: "профайл",
          href: "/account/profile",
        },
        {
          value: "история",
          href: "/account/history",
        },
        {
          value: "призы",
          href: "/account/prizes",
        },
      ],
      checks: [],
      prizesHardData: [
        {
          number: 1,
          id_for_user: "343242424",
          date_create: "25 июня 2021 г.",
          status: {
            type: "succsess",
            text: "Принят",
          },
        },
        {
          number: 1,
          id_for_user: "343242424",
          date_create: "25 июня 2021 г.",
          status: {
            type: "succsess",
            text: "Принят",
          },
        },
        {
          number: 1,
          id_for_user: "343242424",
          date_create: "25 июня 2021 г.",
          status: {
            type: "succsess",
            text: "Принят",
          },
        },
        {
          number: 1,
          id_for_user: "343242424",
          date_create: "25 июня 2021 г.",
          status: {
            type: "bad",
            text: "Отклонен",
          },
        },
        {
          number: 1,
          id_for_user: "343242424",
          date_create: "25 июня 2021 г.",
          status: {
            type: "succsess",
            text: "Принят",
          },
        },
        {
          number: 1,
          id_for_user: "343242424",
          date_create: "25 июня 2021 г.",
          status: {
            type: "succsess",
            text: "Принят",
          },
        },
      ],
    };
  },
  methods: {},

  mounted() {
    this.$store.dispatch("GetChecks").then((response) => {
      this.checks = response.result;
    });
  },
};
</script>

<style lang="scss">
.tooltip {
  display: block !important;
  max-width: 111px;
  margin-left: -40px;
  z-index: 10000;
  margin-bottom: 5px;

  .tooltip-inner {
    background: #ffffff;
    border-radius: 5px;
    padding: 8px 8px 7px;
    font-family: "a_futuraroundbold";
    color: #e50044;
    font-size: 9px;
    line-height: 1.2;
    text-transform: uppercase;

    &:after {
      position: absolute;
      bottom: -15px;
      right: 0;
      content: "";
      bottom: -9px;
      right: 2px;
      width: 30px;
      height: 30px;
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 20px 0 0px;
      border-color: #ffffff transparent transparent transparent;
    }
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    z-index: 1;
  }

  &[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s, visibility 0.15s;
  }

  &[aria-hidden="false"] {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s;
  }
}
.history {
  position: relative;
  min-height: 380px;

  .mobile_table {
    td:first-child {
      width: 130px;
    }
  }

  &__inner {
    max-width: 720px;
    margin: 0 auto;
  }

  &__rocket {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 163px;
    height: 150px;
    background-image: url("../../assets/images/history/rocket.svg");
  }

  &__star_left_top {
    position: absolute;
    top: 75px;
    left: 115px;
    width: 57px;
    height: 56px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/history/star_left_top.png");

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url("../../assets/images/history/star_left_top@2x.png");
    }
  }

  &__star_left_bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 57px;
    height: 56px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/history/star_left_bottom.png");

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url("../../assets/images/history/star_left_bottom@2x.png");
    }
  }

  &__rabbit {
    position: absolute;
    right: -225px;
    bottom: 10px;
    width: 407px;
    height: 173px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/history/rabbit.png");

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url("../../assets/images/history/rabbit@2x.png");
    }
  }

  &__star_right_top {
    position: absolute;
    top: 45px;
    right: 25px;
    width: 57px;
    height: 56px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/history/star_right_top.png");

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url("../../assets/images/history/star_right_top@2x.png");
    }
  }

  &__star_right_bottom {
    position: absolute;
    bottom: 140px;
    right: -20px;
    width: 57px;
    height: 56px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/history/star_right_bottom.png");

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url("../../assets/images/history/star_right_bottom@2x.png");
    }
  }

  @media (max-width: 1023px) {
    &__rocket {
      display: none;
    }
    &__star_left_top {
      display: none;
    }

    &__star_left_bottom {
      display: none;
    }

    &__rabbit {
      display: none;
    }

    &__star_right_top {
      display: none;
    }

    &__star_right_bottom {
      display: none;
    }
  }
}
</style>
