<template>
  <div class="account">
    <div class="container">
      <div class="account__header_mob">
        <h2 class="account__header-title">личный кабинет</h2>
      </div>
      <Tabs :links="navLinks">
        <template v-slot:content>
          <div class="prizes">
            <Table
              :thead="[
                '№',
                'чек',
                'приз',
                'Наименование приза',
                'дата вручения',
                'статус',
              ]"
              :mobileData="prizes"
            >
              <template v-slot:tbody>
                <tr v-for="(item, index) in prizes" :key="index">
                  <td>{{ item.number }}</td>
                  <td>{{ item.id_for_user }}</td>
                  <td>{{ item.prize_type }}</td>
                  <td>{{ item.prize_name }}</td>
                  <td>{{ item.date_prize }}</td>
                  <td>{{ item.status.text }}</td>
                </tr>
              </template>
              <template v-slot:mobile>
                <div
                  class="mobile_table"
                  v-for="(item, mobIndex) in prizes"
                  :key="mobIndex"
                >
                  <div class="mobile_table__header">
                    {{ item.number }}. {{ item.prize_name }}
                  </div>
                  <table>
                    <tbody>
                      <tr>
                        <td>Чек</td>
                        <td>{{ item.id_for_user }}</td>
                      </tr>
                      <tr>
                        <td>приз</td>
                        <td>{{ item.prize_type }}</td>
                      </tr>
                      <tr>
                        <td>дата вручения</td>
                        <td>{{ item.date_prize }}</td>
                      </tr>
                      <tr>
                        <td>статус</td>
                        <td>{{ item.status.text }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </template>
            </Table>
          </div>
        </template>
      </Tabs>
    </div>
  </div>
</template>
<script>
import Tabs from "@/components/Tabs.vue";
import Table from "@/components/Table.vue";

export default {
  components: {
    Tabs,
    Table,
  },
  data: function () {
    return {
      navLinks: [
        {
          value: "профайл",
          href: "/account/profile",
        },
        {
          value: "история",
          href: "/account/history",
        },
        {
          value: "призы",
          href: "/account/prizes",
        },
      ],
      prizes: [],
    };
  },
  methods: {},
  mounted() {
    this.$store.dispatch("GetPrizes").then((response) => {
      this.prizes = response.result;
    });
  },
};
</script>

<style lang="scss">
.mobile_table {
  td:first-child {
    width: 110px;
  }
}
</style>
