<template>
  <div class="account">
    <div class="container">
      <Profile />
    </div>
  </div>
</template>

<script>
import Profile from "@/components/account/Profile.vue";

export default {
  components: {
    Profile,
  },
};
</script>

<style lang="scss" scoped></style>
