<template>
  <label class="form-checkbox">
    <input
      type="checkbox"
      class="form-checkbox__input"
      @change="onInput()"
      v-model.trim="retValue"
    />
    <div class="form-checkbox__custom"></div>
    <div class="form-checkbox__caption">{{ label }}</div>
  </label>
</template>

<script>
export default {
  data() {
    return {
      retValue: this.field,
    };
  },

  methods: {
    errorReset() {
      this.$parent.errorReset();
    },

    onInput() {
      this.$emit("input", this.retValue);
    },
  },
  props: {
    field: {
      type: Boolean,
    },
    label: {
      type: String,
    },
  },
};
</script>

<style lang="scss" scoped>
.form-checkbox {
  cursor: pointer;
  display: flex;
  margin-bottom: 15px;

  &__input {
    position: absolute;
    left: -9999px;
    opacity: 0;
    visibility: hidden;
  }

  &__input:checked + .form-checkbox__custom {
    background-color: #013f5d;
    background-image: url("../../assets/images/checked_icon.svg");
  }

  &__custom {
    min-width: 18px;
    width: 18px;
    height: 18px;
    background: #ffffff;
    border-radius: 4px;
    background-size: 16px 16px;
    background-position: center center;
    transition: all 0.3s ease-in-out;
  }

  &__caption {
    font-size: 11px;
    margin-top: 1px;
    margin-left: 10px;
  }
}

.error .form-checkbox__custom {
  background: #ff9999;
}
</style>
