<template>
  <div class="feedback">
    <h3 class="feedback__subtitle">
      появился вопрос или возникла проблема? напишите нам
    </h3>
    <form>
      <inputText
        placeholder="ваше имя"
        :field="email"
        @input="name = $event"
        :class="{ error: validationStatus($v.name) || this.errorMessage.name }"
        :error="this.errorMessage.name"
      />
      <inputText
        placeholder="e-mail"
        :field="email"
        @input="email = $event"
        :class="{
          error: validationStatus($v.email) || this.errorMessage.email,
        }"
        :error="this.errorMessage.email"
      />
      <Select
        :options="[
          { id: 1, label: 'Регистрация в акции' },
          { id: 2, label: 'Регистрация чека' },
          { id: 3, label: 'Призовой фонд' },
          { id: 4, label: 'Вопросы о продукте' },
          { id: 5, label: 'Технические вопросы' },
          { id: 6, label: 'Другое' },
        ]"
        :field="subject"
        @input="subject = $event.id"
        :class="{
          error: validationStatus($v.subject) || this.errorMessage.subject,
        }"
        :error="this.errorMessage.subject"
      />
      <textArea
        placeholder="сообщение"
        :field="message"
        @input="message = $event"
        :class="{
          error: validationStatus($v.message) || this.errorMessage.message,
        }"
        :error="this.errorMessage.message"
      />
      <File
        :chosenFileName="chosenFileName"
        @submitMedia="submitMedia"
        @deleteFile="deleteFile"
      />

      <div
        class="captcha"
        :class="{
          error: validationStatus($v.captcha) || this.errorMessage.captcha,
        }"
      >
        <vue-recaptcha
          ref="recaptcha"
          :loadRecaptchaScript="true"
          sitekey="6LcZvb0UAAAAAGWachHAtQkfEN1WtATm-nSiVDgJ"
          @verify="onVerify"
          @expired="onCaptchaExpired"
        />
        <div class="error-hint" v-if="errorMessage.captcha">
          {{ errorMessage.captcha }}
        </div>
      </div>

      <div class="feedback__footer">
        <button
          type="button"
          class="btn btn--primary"
          @click="submit()"
          :class="{ loading: submitStatus == 'PENDING' }"
        >
          отправить<img src="../../assets/img/spinner.svg" alt="" />
        </button>
      </div>
    </form>
  </div>
</template>

<script>
import inputText from "@/components/form/inputText.vue";

import textArea from "@/components/form/textArea.vue";
import Select from "@/components/form/inputSelect.vue";
import File from "@/components/form/inputFile.vue";

import VueRecaptcha from "vue-recaptcha";

import { required, email } from "vuelidate/lib/validators";
const rus = (value) => /^[А-ЯЁа-яё ]+$/.test(value);

function getBase64(file) {
  return new Promise((resolve, reject) => {
    const reader = new FileReader();
    reader.readAsDataURL(file);
    reader.onload = () => resolve(reader.result);
    reader.onerror = (error) => reject(error);
  });
}

export default {
  name: "FeedbackForm",
  data() {
    return {
      ready: false,

      name: null,
      email: null,
      message: null,
      subject: null,
      captcha: null,
      attach: "",

      errorMessage: {
        email: null,
        name: null,
        message: null,
        subject: null,
        captcha: null,
      },

      submitStatus: null,

      chosenFileName: {},
    };
  },

  validations: {
    message: { required },
    email: { required, email },
    name: { required, rus },
    subject: { required },
    captcha: { required },
  },

  methods: {
    submitMedia(e) {
      let t = this;

      this.chosenFileName = e;

      if (this.chosenFileName.length) {
        getBase64(this.chosenFileName[0]).then(function (data) {
          t.attach = data;
        });
      }
    },
    deleteFile() {
      this.chosenFileName = {};
      this.attach = "";
    },

    errorReset() {
      this.$v.$reset();

      this.errorMessage = {
        email: null,
        name: null,
        message: null,
        subject: null,
        captcha: null,
      };
    },

    validationStatus: function (validation) {
      return typeof validation != "undefined" ? validation.$error : false;
    },

    submit() {
      this.$v.$touch();

      if (this.$v.$pendding || this.$v.$error) return;

      if (this.submitStatus !== "PENDING") {
        this.submitStatus = "PENDING";

        this.$store
          .dispatch("SendFeedback", {
            name: this.name,
            email: this.email,
            theme_id: this.subject,
            message: this.message,
            rules_acceptance: 1,
            file_contents: this.attach,
            "g-recaptcha-response": this.captcha,
          })
          .then((r) => {
            if (r.error !== 0) {
              this.submitStatus = null;

              this.$refs.recaptcha.reset();
              this.captcha = null;

              let fieldsError = null;

              if (r.message && r.message.email) {
                [this.errorMessage.email] = r.message.email;
                fieldsError = true;
              } else if (r.message && r.message.login) {
                [this.errorMessage.email] = r.message.login;
                fieldsError = true;
              }

              if (r.message && r.message.name) {
                [this.errorMessage.name] = r.message.name;
                fieldsError = true;
              }

              if (r.message && r.message.subject_id) {
                [this.errorMessage.subject] = r.message.subject_id;
                fieldsError = true;
              }

              if (r.message && r.message.text) {
                [this.errorMessage.message] = r.message.text;
                fieldsError = r.message;
              }

              if (r.message && r.message.recaptcha) {
                [this.errorMessage.captcha] = r.message.recaptcha;
                fieldsError = true;
              }
            } else {
              this.submitStatus = null;

              this.$modal.hide("feedback");
              this.$modal.show("success_feedback");
            }
          })
          .catch(() => {
            this.submitStatus = null;
          });
      }
    },

    onVerify(response) {
      this.captcha = response;
    },

    onCaptchaExpired() {
      this.captcha = null;
    },
  },
  mounted() {},
  components: {
    inputText,
    textArea,
    Select,
    File,
    VueRecaptcha,
  },
};
</script>

<style>
.captcha {
  width: 100%;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.captcha > div > div {
  margin: 0 auto;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.captcha.error {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
</style>
