<template>
  <div class="form-select">
    <!-- <div class="form-select__caption"></div> -->
    <v-select
      :searchable="false"
      placeholder="тема обращения"
      :options="options"
      v-model.trim="retValue"
      :name="name"
      @focus="errorReset()"
      @change="onInput()"
      @input="onInput()"
    >
      <span slot="no-options">Ничего не найдено</span>
    </v-select>

    <div class="error-hint" v-if="error">{{ error }}</div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      retValue: this.field,
    };
  },

  methods: {
    errorReset() {
      this.$parent.errorReset();
    },

    onInput() {
      this.$emit("input", this.retValue);
    },
  },
  props: ["options", "field", "name", "error"],
};
</script>

<style lang="scss">
.form-select {
  max-width: 300px;
  margin: 0 auto 24px;

  .vs__dropdown-toggle {
    position: relative;
    z-index: 1001;
    background: #ffffff;
    border-radius: 40px;
    border: 2px solid #ffffff;
    padding: 8px 18px 6px;
  }

  .vs__selected-options {
    padding: 0;
  }

  .vs--open .vs__dropdown-toggle {
    border-radius: 40px;
  }

  .vs__search {
    padding: 0;
    margin: 0;
    border: 0;
    color: #829dab;
    font-size: 13px;
    text-transform: uppercase;

    &:focus {
      border: 0;
      padding: 0;
      margin: 0;
      font-size: 13px;
    }
  }

  .vs__actions {
    padding: 0px 0px 0 3px;
  }

  .vs__clear {
    display: none;
  }

  .vs__open-indicator {
    width: 16px;
    height: 16px;
    background-image: url("../../assets/images/select_arrow.svg");
    path {
      display: none;
    }
  }

  .vs__selected {
    bottom: 0;
    padding: 0;
    margin: 0;
    color: #013f5d;
    font-size: 13px;
  }

  .vs--single.vs--open .vs__selected {
    position: relative;
    opacity: 1;
  }

  .vs__dropdown-menu {
    border: 0;
    margin-top: -35px;
    padding-top: 38px;
    background: #d6edf2;
    box-shadow: 0px 4px 4px rgba(1, 63, 93, 0.25);
    border-radius: 19px;
  }

  .vs__dropdown-option {
    color: #013f5d;
    font-size: 13px;
    padding: 7px 18px 6px;
  }

  .vs__dropdown-option--highlight {
    color: #013f5d;
    background-color: #b1d8e0;
  }
}
</style>
