<template>
  <form class="authorization__signin">
    <inputText
      size="md"
      placeholder="e-mail"
      :field="email"
      @input="email = $event"
      :class="{ error: validationStatus($v.email) || this.errorMessage.email }"
      :error="this.errorMessage.email"
    />
    <inputText
      size="md"
      type="password"
      placeholder="пароль"
      :field="password"
      :class="{
        error: validationStatus($v.password) || this.errorMessage.password,
      }"
      :error="this.errorMessage.password"
      @input="password = $event"
    />
    <div class="authorization__signin-footer">
      <button
        type="button"
        class="btn btn--primary"
        @click="clickLogin()"
        :class="{ loading: submitStatus == 'PENDING' }"
      >
        войти<img src="../../assets/img/spinner.svg" alt="" />
      </button>
      <a
        href="javascript:void(0)"
        class="forget-link"
        @click.prevent="switchToRecover()"
        >забыли пароль?</a
      >
    </div>
  </form>
</template>

<script>
import inputText from "@/components/form/inputText.vue";

import { required, email, minLength } from "vuelidate/lib/validators";

export default {
  name: "LoginForm",
  data() {
    return {
      ready: false,

      email: null,
      password: null,

      errorMessage: {
        email: null,
        password: null,
      },

      submitStatus: null,
    };
  },

  validations: {
    email: { required, email },
    password: { required, minLength: minLength(6) },
  },

  methods: {
    clickLogin() {
      gtag("event", "click", {
        event_category: "internal",
        event_label: "auth_submit_button",
      });

      this.submit();
    },

    errorReset() {
      this.$v.$reset();

      this.errorMessage = {
        email: null,
        password: null,
      };
    },

    close() {
      this.$store.commit("SHOW_POPUP_CONTENT", false);
    },
    switchToRecover() {
      this.$modal.hide("authorization");
      this.$modal.show("recover");
    },
    validationStatus: function (validation) {
      return typeof validation != "undefined" ? validation.$error : false;
    },

    submit() {
      this.$v.$touch();

      if (this.$v.$pendding || this.$v.$error) return;

      if (this.submitStatus !== "PENDING") {
        this.submitStatus = "PENDING";

        this.$store
          .dispatch("SignIn", {
            login: this.email,
            password: this.password,
          })
          .then((r) => {
            if (r.error !== 0) {
              this.submitStatus = null;

              let fieldsError = null;

              if (r.message && r.message.email) {
                [this.errorMessage.email] = r.message.email;
                fieldsError = true;
              } else if (r.message && r.message.login) {
                [this.errorMessage.email] = r.message.login;
                fieldsError = true;
              }

              if (r.message && r.message.password) {
                [this.errorMessage.password] = r.message.password;
                fieldsError = true;
              }

              if (r.message && !fieldsError) {
                this.$modal.show("common_error", {
                  text: "Что-то пошло не так! " + r.message,
                });
              }
            } else {
              this.submitStatus = null;

              this.$store.commit("SET_TOKEN", r.auth_key);

              this.$store.dispatch("GetProfile").then((res) => {
                if (res.error !== 0) {
                  this.$router.push("/");
                } else {
                  this.$root.$emit("onLogined");
                  this.$modal.hide("authorization");
                  this.$router.push("/account/profile");
                }
              });
            }
          })
          .catch(() => {
            this.submitStatus = null;
          });
      }
    },
  },
  mounted() {},
  components: {
    inputText,
  },
};
</script>
