<template>
  <form class="authorization__signin">
    <inputText
      size="md"
      placeholder="e-mail"
      :field="email"
      @input="email = $event"
      :class="{ error: validationStatus($v.email) || this.errorMessage.email }"
      :error="this.errorMessage.email"
    />

    <div
      class="captcha"
      :class="{
        error: validationStatus($v.captcha) || this.errorMessage.captcha,
      }"
    >
      <vue-recaptcha
        ref="recaptcha"
        :loadRecaptchaScript="true"
        sitekey="6LcZvb0UAAAAAGWachHAtQkfEN1WtATm-nSiVDgJ"
        @verify="onVerify"
        @expired="onCaptchaExpired"
      />
      <div class="error-hint" v-if="errorMessage.captcha">
        {{ errorMessage.captcha }}
      </div>
    </div>

    <div class="authorization__signin-footer">
      <button
        type="button"
        class="btn btn--primary"
        @click="submit()"
        :class="{ loading: submitStatus == 'PENDING' }"
      >
        восстановить<img src="../../assets/img/spinner.svg" alt="" />
      </button>
    </div>
  </form>
</template>

<script>
import inputText from "@/components/form/inputText.vue";

import VueRecaptcha from "vue-recaptcha";

import { required, email } from "vuelidate/lib/validators";

export default {
  name: "RecoverForm",
  data() {
    return {
      ready: false,

      email: null,
      captcha: null,

      errorMessage: {
        email: null,
        captcha: null,
      },

      submitStatus: null,
    };
  },

  validations: {
    email: { required, email },
    captcha: { required },
  },

  methods: {
    errorReset() {
      this.$v.$reset();

      this.errorMessage = {
        email: null,
        captcha: null,
      };
    },

    validationStatus: function (validation) {
      return typeof validation != "undefined" ? validation.$error : false;
    },

    submit() {
      this.$v.$touch();

      if (this.$v.$pendding || this.$v.$error) return;

      if (this.submitStatus !== "PENDING") {
        this.submitStatus = "PENDING";

        this.$store
          .dispatch("Recover", {
            email: this.email,
            "g-recaptcha-response": this.captcha,
          })
          .then((r) => {
            if (r.error !== 0) {
              this.submitStatus = null;

              this.$refs.recaptcha.reset();
              this.captcha = null;

              let fieldsError = null;

              if (r.message && r.message.email) {
                [this.errorMessage.email] = r.message.email;
                fieldsError = true;
              } else if (r.message && r.message.login) {
                [this.errorMessage.email] = r.message.login;
                fieldsError = true;
              }

              if (r.message && r.message.recaptcha) {
                [this.errorMessage.captcha] = r.message.recaptcha;
                fieldsError = true;
              }

              if (r.message && !fieldsError) {
                this.$modal.show("common_error", {
                  text: "Что-то пошло не так! " + r.message,
                });
              }
            } else {
              this.submitStatus = null;

              this.$modal.hide("recover");
              this.$modal.show("success_recover");
            }
          })
          .catch(() => {
            this.submitStatus = null;
          });
      }
    },

    onVerify(response) {
      this.captcha = response;
    },

    onCaptchaExpired() {
      this.captcha = null;
    },
  },
  mounted() {},
  components: {
    inputText,
    VueRecaptcha,
  },
};
</script>

<style>
.captcha {
  width: 100%;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.captcha.error {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
</style>
