<template>
  <div class="authorization__signup">
    <div class="authorization__signup-title">зарегистрироваться</div>
    <div class="authorization__social">
      <div class="authorization__social-caption">
        быстрая регистрация через соцсети:
      </div>
      <div class="authorization__social-list">
        <a
          href="https://fruto-promo.ru/backend/site/eauth?service=vkontakte"
          class="authorization__social-item authorization__social-item--vk"
          @click="clickSoc()"
        >
          <svg
            width="20"
            height="12"
            viewBox="0 0 20 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M18.7517 1.4167H15.7354C15.6123 1.4167 15.4915 1.45008 15.3859 1.51328C15.2802 1.57649 15.1937 1.66715 15.1355 1.77563C15.1355 1.77563 13.9325 3.99115 13.546 4.73738C12.5065 6.74483 11.8333 6.11462 11.8333 5.18295V1.97053C11.8333 1.70209 11.7267 1.44464 11.5368 1.25482C11.347 1.06501 11.0896 0.95837 10.8211 0.95837H8.55331C8.24447 0.935407 7.93488 0.99178 7.65396 1.12213C7.37303 1.25249 7.1301 1.4525 6.94823 1.70316C6.94823 1.70316 8.0998 1.51697 8.0998 3.06861C8.0998 3.45337 8.11962 4.56024 8.13767 5.48861C8.14108 5.62542 8.10242 5.75997 8.02693 5.87411C7.95143 5.98826 7.84273 6.07648 7.71551 6.12688C7.58828 6.17729 7.44865 6.18744 7.31546 6.15597C7.18228 6.1245 7.06197 6.05292 6.97076 5.95089C6.0425 4.65985 5.27359 3.2614 4.68074 1.78594C4.62983 1.67556 4.54832 1.58211 4.44589 1.51667C4.34347 1.45122 4.22442 1.41653 4.10287 1.4167C3.44873 1.4167 2.13975 1.4167 1.36239 1.4167C1.28701 1.41619 1.21263 1.43399 1.14564 1.46856C1.07866 1.50313 1.02107 1.55345 0.977817 1.6152C0.934568 1.67694 0.906955 1.74826 0.89735 1.82303C0.887745 1.89779 0.896436 1.97378 0.922674 2.04445C1.75482 4.327 5.33941 11.5 9.43087 11.5H11.153C11.3334 11.5 11.5064 11.4284 11.634 11.3008C11.7616 11.1732 11.8333 11.0001 11.8333 10.8197V9.77984C11.8333 9.64939 11.8715 9.52179 11.9431 9.41277C12.0147 9.30374 12.1167 9.21806 12.2364 9.16627C12.3561 9.11448 12.4884 9.09884 12.6169 9.1213C12.7454 9.14375 12.8645 9.20331 12.9596 9.29263L15.0208 11.2293C15.2059 11.4032 15.4504 11.5 15.7044 11.5H18.4111C19.7166 11.5 19.7166 10.5942 19.0048 9.89318C18.5039 9.39985 16.6964 7.4946 16.6964 7.4946C16.5416 7.33424 16.4493 7.1238 16.4361 6.90131C16.4229 6.67882 16.4897 6.45896 16.6245 6.28145C17.2088 5.51259 18.1644 4.25402 18.5697 3.71485C19.1237 2.97791 20.1263 1.4167 18.7517 1.4167Z"
              fill="white"
            />
          </svg>
        </a>
        <a
          href="https://fruto-promo.ru/backend/site/eauth?service=odnoklassniki"
          class="authorization__social-item authorization__social-item--ok"
          @click="clickSoc()"
        >
          <svg
            width="12"
            height="20"
            viewBox="0 0 12 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6 10.1228C4.60345 10.1228 3.41119 9.62798 2.4232 8.63839C1.43522 7.64881 0.941228 6.45833 0.941228 5.06696C0.941228 3.66815 1.43522 2.47396 2.4232 1.48438C3.41119 0.494792 4.60345 0 6 0C7.39655 0 8.58881 0.494792 9.5768 1.48438C10.5648 2.47396 11.0588 3.66815 11.0588 5.06696C11.0588 6.45833 10.5648 7.64881 9.5768 8.63839C8.58881 9.62798 7.39655 10.1228 6 10.1228ZM6 2.56696C5.31658 2.56696 4.73159 2.81064 4.24503 3.29799C3.75847 3.78534 3.51518 4.375 3.51518 5.06696C3.51518 5.75149 3.75847 6.33743 4.24503 6.82478C4.73159 7.31213 5.31658 7.5558 6 7.5558C6.68342 7.5558 7.26841 7.31213 7.75497 6.82478C8.24153 6.33743 8.48482 5.75149 8.48482 5.06696C8.48482 4.375 8.24153 3.78534 7.75497 3.29799C7.26841 2.81064 6.68342 2.56696 6 2.56696ZM11.8276 10.7366C11.9242 10.9375 11.9799 11.1217 11.9948 11.2891C12.0096 11.4565 11.9929 11.6071 11.9446 11.7411C11.8963 11.875 11.7979 12.0182 11.6493 12.1708C11.5008 12.3233 11.3429 12.4609 11.1758 12.5837C11.0086 12.7065 10.7802 12.8609 10.4905 13.0469C9.63622 13.59 8.46624 13.9397 6.98056 14.096L7.79397 14.8996L10.7691 17.8795C10.9919 18.1101 11.1033 18.3854 11.1033 18.7054C11.1033 19.0253 10.9919 19.2969 10.7691 19.5201L10.6354 19.6652C10.4051 19.8884 10.1302 20 9.81079 20C9.49137 20 9.21652 19.8884 8.98624 19.6652C8.48853 19.1592 7.49683 18.1622 6.01114 16.6741L3.03605 19.6652C2.80577 19.8884 2.53092 20 2.21149 20C1.89207 20 1.62093 19.8884 1.39808 19.6652L1.26437 19.5201C1.03408 19.2969 0.918943 19.0253 0.918943 18.7054C0.918943 18.3854 1.03408 18.1101 1.26437 17.8795L4.23946 14.8996L5.04173 14.096C3.53376 13.9397 2.35635 13.59 1.5095 13.0469C1.21979 12.8609 0.99137 12.7065 0.82423 12.5837C0.65709 12.4609 0.499235 12.3233 0.350666 12.1708C0.202097 12.0182 0.103671 11.875 0.0553856 11.7411C0.00710072 11.6071 -0.00961328 11.4565 0.00524361 11.2891C0.0201005 11.1217 0.0758139 10.9375 0.172384 10.7366C0.246668 10.5878 0.350666 10.4576 0.484378 10.346C0.618091 10.2344 0.774088 10.1525 0.952371 10.1004C1.13065 10.0484 1.33865 10.0558 1.57636 10.1228C1.81407 10.1897 2.05549 10.3199 2.30063 10.5134C2.33778 10.5432 2.39349 10.5841 2.46777 10.6362C2.54206 10.6882 2.70177 10.7794 2.94691 10.9096C3.19205 11.0398 3.44833 11.1533 3.71575 11.25C3.98318 11.3467 4.32489 11.436 4.74088 11.5179C5.15687 11.5997 5.57658 11.6406 6 11.6406C6.67599 11.6406 7.32226 11.5458 7.93882 11.356C8.55539 11.1663 9.00109 10.9784 9.27595 10.7924L9.69937 10.5134C9.9445 10.3199 10.1859 10.1897 10.4236 10.1228C10.6614 10.0558 10.8693 10.0484 11.0476 10.1004C11.2259 10.1525 11.3819 10.2344 11.5156 10.346C11.6493 10.4576 11.7533 10.5878 11.8276 10.7366Z"
              fill="white"
            />
          </svg>
        </a>
        <a
          href="https://fruto-promo.ru/backend/site/eauth?service=facebook"
          class="authorization__social-item authorization__social-item--fb"
          @click="clickSoc()"
        >
          <svg
            width="11"
            height="20"
            viewBox="0 0 11 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7.30132 19.7653V11H10.2478L10.6857 7.58598H7.30132V5.40395C7.30132 4.41684 7.57592 3.74145 8.9935 3.74145H10.8044V0.683642C10.4927 0.63911 9.41655 0.550049 8.16967 0.550049C5.55718 0.550049 3.77593 2.14575 3.77593 5.06997V7.59341H0.822021V11.0075H3.77593V19.7653H7.30132Z"
              fill="white"
            />
          </svg>
        </a>
      </div>
    </div>

    <div class="authorization__signup-row">
      <div class="authorization__signup-column">
        <inputText
          size="md"
          placeholder="имя"
          :field="name"
          :class="{
            error: validationStatus($v.name) || this.errorMessage.name,
          }"
          :error="this.errorMessage.name"
          @input="name = $event"
        />
        <inputText
          size="md"
          placeholder="фамилия"
          :field="lastname"
          :class="{
            error: validationStatus($v.lastname) || this.errorMessage.lastname,
          }"
          :error="this.errorMessage.lastname"
          @input="lastname = $event"
        />
        <inputText
          size="md"
          placeholder="дата рождения (ДД/ММ/ГГГГ)"
          :field="birthday"
          :class="{
            error: validationStatus($v.birthday) || this.errorMessage.birthday,
          }"
          :error="this.errorMessage.birthday"
          @input="birthday = $event"
          :mask="'##/##/####'"
        />
      </div>
      <div class="authorization__signup-column">
        <inputText
          size="md"
          placeholder="e-mail"
          :field="email"
          :class="{
            error: validationStatus($v.email) || this.errorMessage.email,
          }"
          :error="this.errorMessage.email"
          @input="email = $event"
        />
        <inputText
          size="md"
          placeholder="номер телефона"
          :field="phone"
          :class="{
            error: validationStatus($v.phone) || this.errorMessage.phone,
          }"
          :error="this.errorMessage.phone"
          @input="phone = $event"
          type="tel"
          :mask="'+7(###) ###-##-##'"
        />
        <inputText
          type="password"
          size="md"
          placeholder="придумайте пароль"
          :field="password"
          :class="{
            error: validationStatus($v.password) || this.errorMessage.password,
          }"
          :error="this.errorMessage.password"
          @input="password = $event"
        />
        <inputText
          type="password"
          size="md"
          placeholder="повторите пароль"
          :field="password2"
          :class="{
            error:
              validationStatus($v.password2) || this.errorMessage.password2,
          }"
          :error="this.errorMessage.password2"
          @input="password2 = $event"
        />
      </div>
    </div>

    <div class="authorization__children">
      <div class="authorization__children-caption">
        <span>необязательные поля</span>
        (вы сможете заполнить их позже в личном кабинете)
      </div>
      <div class="authorization__children-amount">
        <div class="authorization__children-amount-caption">
          сколько у вас детей?
        </div>
        <div class="authorization__children-amount-holder">
          <button class="authorization__children-btn" @click="minus">-</button>
          <input
            type="number"
            disabled
            v-model="children"
            class="authorization__children-input"
          />
          <button class="authorization__children-btn" @click="plus">+</button>
        </div>
      </div>
    </div>

    <div class="authorization__children-list">
      <div
        class="authorization__children-item"
        v-for="item in childrenList"
        :key="item.num"
      >
        <div class="authorization__children-item-num">{{ item.num }})</div>
        <div class="authorization__children-item-gender">
          <inputRadio
            label="мальчик"
            :name="'child_sex_' + item.num"
            value="1"
          />
          <inputRadio
            color="red"
            label="девочка"
            :name="'child_sex_' + item.num"
            value="2"
          />
        </div>
        <inputText
          size="md"
          type="number"
          placeholder="Возраст ребенка"
          :name="'child_age_' + item.num"
        />
      </div>
    </div>
    <div class="authorization__checkbox_list">
      <checkBox
        label="я согласен(-на) на обработку моих персональных данных"
        :field="checkbox"
        :class="{
          error: validationStatus($v.checkbox) || this.errorMessage.checkbox,
        }"
        :error="this.errorMessage.checkbox"
        @input="checkbox = $event"
      />
      <checkBox
        label="я согласен(-на) на получение рассылок от фрутоняня"
        :field="checkbox2"
        :class="{
          error: validationStatus($v.checkbox2) || this.errorMessage.checkbox2,
        }"
        :error="this.errorMessage.checkbox2"
        @input="checkbox2 = $event"
      />
      <checkBox
        label="я согласен(-на) с настоящими правилами акции и пользовательским соглашением"
        :field="checkbox3"
        :class="{
          error: validationStatus($v.checkbox3) || this.errorMessage.checkbox3,
        }"
        :error="this.errorMessage.checkbox3"
        @input="checkbox3 = $event"
      />
    </div>
    <div class="authorization__signup-footer">
      <button
        type="button"
        class="btn btn--primary"
        @click="clickSignup()"
        :class="{ loading: submitStatus == 'PENDING' }"
      >
        зарегистрироваться<img src="../../assets/img/spinner.svg" alt="" />
      </button>
    </div>
  </div>
</template>

<script>
import inputText from "@/components/form/inputText.vue";
import checkBox from "@/components/form/checkBox.vue";
import inputRadio from "@/components/form/inputRadio.vue";

import { required, email, minLength, sameAs } from "vuelidate/lib/validators";
const rus = (value) => /^[А-ЯЁа-яё ]+$/.test(value);

export default {
  name: "SignupForm",
  data() {
    return {
      ready: false,

      email: null,
      name: null,
      lastname: null,
      phone: null,
      birthday: null,
      password: null,
      password2: null,

      checkbox: false,
      checkbox2: false,
      checkbox3: false,

      errorMessage: {
        email: null,
        name: null,
        lastname: null,
        phone: null,
        birthday: null,
        password: null,
        password2: null,
      },

      submitStatus: null,

      childrenList: [],

      children: 0,
    };
  },

  validations: {
    phone: { required },
    email: { required, email },
    name: { required, rus },
    lastname: { required, rus },
    birthday: { required },

    password: { required, minLength: minLength(6) },
    password2: { required, sameAsPassword: sameAs("password") },
    checkbox: {
      required,
      sameAs: sameAs(() => true),
    },
    /*checkbox2: {
      required,
      sameAs: sameAs(() => true),
    },*/
    checkbox3: {
      required,
      sameAs: sameAs(() => true),
    },
  },

  methods: {
    clickSignup() {
      gtag("event", "click", {
        event_category: "internal",
        event_label: "register_submit_button",
      });
      this.submit();
    },

    clickSoc() {
      gtag("event", "click", {
        event_category: "internal",
        event_label: "auth_social_button",
      });
    },

    plus() {
      ++this.children;
      this.childrenList.push({
        num: this.children,
        gender: true,
        age: "",
      });
    },
    minus() {
      if (this.children >= 1) {
        --this.children;
        this.childrenList.splice(this.children, 1);
      }
    },

    errorReset() {
      this.$v.$reset();

      this.errorMessage = {
        email: null,
        name: null,
        lastname: null,
        phone: null,
        birthday: null,
        password: null,
        password2: null,
      };
    },

    validationStatus: function (validation) {
      return typeof validation != "undefined" ? validation.$error : false;
    },

    submit() {
      this.$v.$touch();
      if (this.$v.$pendding || this.$v.$error) return;

      let childrenArr = [];

      document
        .querySelectorAll(".authorization__children-item")
        .forEach(function (elem) {
          let gender =
            parseInt(elem.querySelector("input[type='radio']:checked").value) ||
            0;
          let age =
            parseInt(elem.querySelector("input[type='number']").value) || 0;

          if (gender > 0 && age > 0) {
            childrenArr.push({
              male: gender == 1 ? 1 : 0,
              age: age,
            });
          }
        });

      if (this.submitStatus !== "PENDING") {
        this.submitStatus = "PENDING";

        this.$store
          .dispatch("SignUp", {
            login: this.email,
            name: this.name,
            surname: this.lastname,
            phone: this.phone,
            pass: this.password,
            passR: this.password,
            personal_data_processing_agreement: 1,
            date_birth: this.birthday.split("/").join("."),
            children: childrenArr,
          })
          .then((r) => {
            if (r.error !== 0) {
              this.submitStatus = null;

              let fieldsError = null;

              if (r.message && r.message.email) {
                [this.errorMessage.email] = r.message.email;
                fieldsError = true;
              } else if (r.message && r.message.login) {
                [this.errorMessage.email] = r.message.login;
                fieldsError = true;
              }

              if (r.message && r.message.name) {
                [this.errorMessage.name] = r.message.name;
                fieldsError = true;
              }

              if (r.message && r.message.phone) {
                [this.errorMessage.phone] = r.message.phone;
                fieldsError = true;
              }

              if (r.message && r.message.surname) {
                [this.errorMessage.lastname] = r.message.surname;
                fieldsError = true;
              }

              if (r.message && r.message.password) {
                [this.errorMessage.password] = r.message.password;
                fieldsError = true;
              } else if (r.message && r.message.pass) {
                [this.errorMessage.password] = r.message.pass;
                fieldsError = true;
              }

              if (r.message && r.message.password2) {
                [this.errorMessage.password2] = r.message.password2;
                fieldsError = true;
              } else if (r.message && r.message.passR) {
                [this.errorMessage.password2] = r.message.passR;
                fieldsError = true;
              }

              if (r.message && !fieldsError) {
                this.$modal.show("common_error", {
                  text: "Что-то пошло не так! " + r.message,
                });
              }
            } else {
              this.$modal.hide("authorization");
              this.$modal.show("success_signup");
            }
          })
          .catch(() => {
            this.submitStatus = null;
          });
      }
    },
  },
  mounted() {},
  components: {
    inputText,
    checkBox,
    inputRadio,
  },
};
</script>
