<template>
  <Modal
    name="action_ended_modal"
    title="Победители Акции «Выигрывайте космические призы!» определены."
    @closeModal="closeModal"
  >
    <template v-slot:content>
      <div class="success_modal">
        <p class="success_modal__text">
          Срок выдачи призов продлен до&nbsp;29&nbsp;апреля 2022&nbsp;г.<br />
          <br />
          Спасибо, что были с&nbsp;нами. Узнавайте о&nbsp;новых акциях бренда ФрутоНяня на&nbsp;сайте <a target="_blank" href="https://frutonyanya.ru/">frutonyanya.ru</a>.
        </p>
      </div>
    </template>
  </Modal>
</template>

<script>
import Modal from "@/components/Modal.vue";

export default {
  components: {
    Modal,
  },
  data: function () {
    return {};
  },
  methods: {
    closeModal(name) {
      this.$modal.hide(name);
    },
    beforeOpen() {},
  },
};
</script>

<style lang="scss" scoped>

.success_modal {
  text-align: center;
  &__text {
    font-size: 13px;
    margin-top: 20px;
  }

  &__footer {
    text-align: center;
    margin-top: 19px;
  }
}

</style>
