<template>
  <Modal
    :size="660"
    name="authorization"
    title="войти в личный кабинет"
    @closeModal="closeModal"
  >
    <template v-slot:content>
      <div class="authorization">
        <h3>Регистрируйте чеки и за каждый получайте 25 рублей на телефон</h3>
        <LoginForm></LoginForm>
<!--        <SignupForm></SignupForm>-->
      </div>
    </template>
  </Modal>
</template>

<script>
import Modal from "@/components/Modal.vue";

import LoginForm from "@/components/form/LoginForm.vue";
import SignupForm from "@/components/form/SignupForm.vue";

export default {
  components: {
    Modal,
    LoginForm,
    // SignupForm,
  },
  data: function () {
    return {};
  },

  methods: {
    closeModal(name) {
      this.$modal.hide(name);
    },
    beforeOpen() {},
  },
};
</script>

<style lang="scss">
.authorization {
  h3 {
    text-align: center;
    margin-top: 8px;
  }

  &__signin {
    max-width: 342px;
    margin: 15px auto 0;
    border: 3px dashed #ffffff;
    border-radius: 20px;
    padding: 45px 45px 25px;

    .form__field-input {
      min-width: 100%;
    }

    .forget-link {
      color: #013f5d;
      font-size: 11px;
      text-decoration-line: underline;
      margin-left: 25px;
    }

    .forget-link:hover {
      text-decoration: none;
    }
  }

  &__signup {
    &-title {
      text-align: center;
      font-size: 24px;
      margin-top: 40px;
      margin-bottom: 20px;
    }
  }
  &__social {
    display: flex;
    align-items: center;
    padding: 14px 60px;
    background: #ffffff;
    box-shadow: 0px 5px 10px rgba(1, 63, 93, 0.25);
    border-radius: 20px;
    margin-bottom: 40px;
  }

  &__social-caption {
    font-size: 13px;
  }

  &__social-list {
    display: flex;
  }

  &__social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e50044;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-left: 12px;
    transition: all 0.3s ease-in-out;
  }

  &__social-item--vk:hover {
    background-color: #4c75a3;
  }
  &__social-item--ok:hover {
    background-color: #f6912c;
  }
  &__social-item--fb:hover {
    background-color: #414f91;
  }

  &__signup-row {
    display: flex;
    margin: 0 -22px;
  }

  &__signup-column {
    width: 50%;
    padding: 0 22px;

    .form__field-input {
      width: 100%;
    }
  }

  &__signup-footer {
    margin-top: 30px;
    text-align: center;
  }

  &__children {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 23px;
    padding-bottom: 18px;
    border-top: 3px dotted #fff;
    border-bottom: 3px dotted #fff;
    margin-bottom: 25px;
  }

  &__children-caption {
    max-width: 150px;
    color: #49829e;
    font-size: 11px;
    text-transform: none;

    span {
      text-transform: uppercase;
    }
  }

  &__children-amount {
    display: flex;
    align-items: center;
  }

  &__children-amount-caption {
    font-size: 13px;
    margin-right: 15px;
  }

  &__children-amount-holder {
    display: flex;
    background: #ffffff;
    border-radius: 40px;
    padding: 6px;
  }

  &__children-input {
    appearance: none;
    text-align: center;
    width: 40px;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:focus {
      outline: none;
    }
  }

  &__children-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: #d6edf2;
    border-radius: 50%;
    font-size: 17px;

    &:focus {
      outline: none;
    }
  }

  &__children-item {
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    .form__field-input {
      position: relative;
      z-index: 1;
    }

    .form__field {
      position: relative;
      margin-bottom: 0;
      margin-left: auto;

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: -60px;
        margin-top: -1px;
        width: 64px;
        height: 2px;
        background-color: #fff;
      }
    }
  }

  &__children-item-num {
    font-size: 13px;
    margin-right: 12px;
  }

  &__children-item-gender {
    display: flex;
    .form-radio {
      margin-right: 20px;
    }
  }

  @media (max-width: 650px) {
    &__signin {
      max-width: none;
      padding: 30px 20px;
      margin: 30px -30px 0;

      .form__field-input {
        width: 100%;
        margin-top: 15px;
      }
    }
    &__social {
      flex-direction: column;
      padding: 30px 20px;
      margin: 0 -30px 40px;
    }

    &__social-caption {
      margin-bottom: 15px;
    }

    &__social-item:first-child {
      margin-left: 0;
    }

    &__signup-row {
      flex-direction: column;
      margin: 0 -52px;
    }

    &__signup-column {
      width: 100%;
    }

    &__children {
      flex-direction: column;
      margin: 0 -30px;
    }

    &__children-caption {
      text-align: center;
      margin-bottom: 15px;
    }

    &__children-list {
      margin: 20px -30px 0;
    }

    &__children-item {
      flex-wrap: wrap;

      .form__field {
        width: 100%;
        margin-top: 15px;
      }
    }

    &__children-item .form__field:after {
      display: none;
    }

    &__checkbox_list {
      margin: 0 -30px;
    }
  }
}
</style>
