<template>
  <Modal
    class="cards_hello cards_hello--has-img"
    name="cards_hello"
    title="ПРИВЕТ ИЗ КОСМОСА!"
    :size="545"
    @closeModal="closeModal"
  >
    <template v-slot:content>
      <div class="cards_hello__img"></div>
      <div class="cards_hello__inner">
        <p class="cards_hello__text">
          ФрутоНяня предлагает Вам и малышу стать звездными астронавтами
          <br />
          с помощью <span>конструктора космических открыток.</span>
        </p>
        <p class="cards_hello__text">
          А помогать покорять внеземные просторы помогут полезные <br />
          и вкусные <span>пюре «ФрутоНяня»</span> – <br />
          с ними хоть в космос!
        </p>
        <p class="cards_hello__text">
          Загрузите фотографию малыша, выберИте элементы на ваш вкус <br />
          и вперёд – покорять внеземные цивилизации!
        </p>
        <button
          class="btn btn--primary cards_hello__start"
          @click="closeModal2('cards_hello')"
        >
          начать!
        </button>
      </div>
    </template>
  </Modal>
</template>

<script>
import Modal from "@/components/Modal.vue";

export default {
  components: {
    Modal,
  },
  data: function () {
    return {};
  },
  methods: {
    closeModal(name) {
      this.$modal.hide(name);

      gtag("event", "click", {
        event_category: "internal",
        event_label: "editor_close_button",
      });
    },

    closeModal2(name) {
      this.$modal.hide(name);

      gtag("event", "click", {
        event_category: "internal",
        event_label: "editor_start_button",
      });
    },
  },
};
</script>
<style lang="scss">
.cards_hello {
  &--has-img {
    .vm--modal:after {
      content: "";
      position: absolute;
      top: 50%;
      margin-top: -185px;
      right: -50px;
      // bottom: 0px;
      background-image: url("../../assets/images/cards/cards_modal_img.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 327px;
      height: 463px;

      @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
        background-image: url("../../assets/images/cards/cards_modal_img@2x.png");
      }
    }
  }

  .modal {
    max-width: 460px;
  }
  .modal__title {
    text-align: left;
    margin-bottom: 25px;
  }

  &__inner {
    max-width: 290px;
  }

  &__text {
    color: #013f5d;
    font-size: 13px;
    line-height: 1.5;
    text-transform: uppercase;
    margin-bottom: 20px;

    span {
      color: #e50044;
    }
  }

  &__start {
    min-width: 236px;
    margin-top: 10px;
  }

  @media (max-width: 568px) {
    &--has-img .vm--modal:after {
      display: none;
    }
  }
}
</style>
