<template>
  <Modal name="feedback" title="Обратная связь" @closeModal="closeModal">
    <template v-slot:content>
      <FeedbackForm></FeedbackForm>
    </template>
  </Modal>
</template>

<script>
import Modal from "@/components/Modal.vue";

import FeedbackForm from "@/components/form/FeedbackForm.vue";

export default {
  components: {
    Modal,
    FeedbackForm,
  },
  data: function () {
    return {};
  },
  methods: {
    closeModal(name) {
      this.$modal.hide(name);
    },

    beforeOpen() {},
  },
};
</script>

<style lang="scss">
.feedback {
  &__subtitle {
    text-align: center;
    font-size: 13px;
    margin-top: 9px;
    margin-bottom: 40px;
  }

  .form__field-input {
    display: block;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
  }

  &__footer {
    text-align: center;
  }
}
</style>
