<template>
  <Modal
    name="reject_receipt_modal"
    title="Модерация чека"
    @closeModal="closeModal"
  >
    <template v-slot:content>
      <div class="success_modal">
        <p class="success_modal__text">
          К сожалению, Ваш чек не прошел модерацию.<br/>
          Пожалуйста, проверьте его на&nbsp;соответствие Правилам и&nbsp;попробуйте еще раз:<br />
          <br />
          1) Покупка пюре в&nbsp;мягкой упаковке ФрутоНяня от&nbsp;5 (пяти) штук должна быть осуществлена в&nbsp;период с&nbsp;20.06.2021г.&nbsp;по&nbsp;20.10.2021г.<br />
          <br />
          2) В&nbsp;одном чеке должны быть указаны наименования от&nbsp;5 (пяти) единиц пюре в&nbsp;мягкой упаковке ФрутоНяня. Полный список продукции указан в&nbsp;полных Правилах Акции.<br />
          <br />
          3) Загрузите на&nbsp;сайте www.fruto-promo.ru фотографию чека, подтверждающего факт совершения покупки.<br />
          <br />
          4) Каждый чек, загруженный на&nbsp;сайте www.fruto-promo.ru может принять участие в&nbsp;Акции не&nbsp;более одного раза.<br />
          <br />
          Загружайте чеки и&nbsp;участвуйте в&nbsp;розыгрыше ценных призов!
        </p>
      </div>
    </template>
  </Modal>
</template>

<script>
import Modal from "@/components/Modal.vue";

export default {
  components: {
    Modal,
  },
  data: function () {
    return {};
  },
  methods: {
    closeModal(name) {
      this.$modal.hide(name);
    },
    beforeOpen() {},
  },
};
</script>

<style lang="scss" scoped>

.success_modal {
  text-align: center;
  &__text {
    font-size: 13px;
    margin-top: 20px;
  }

  &__footer {
    text-align: center;
    margin-top: 19px;
  }
}

</style>
