<template>
  <Modal
    name="success_modal"
    title="Спасибо! ваш чек зарегистрирован"
    @closeModal="closeModal"
  >
    <template v-slot:content>
      <div class="success_modal">
        <p class="success_modal__text">
          после модерации чека на ваш электронный адрес поступит сообщение с
          информацией о том, как получить гарантированный приз
        </p>
        <div class="success_modal__footer">
          <button class="btn btn--primary">хорошо</button>
        </div>
      </div>
    </template>
  </Modal>
</template>

<script>
import Modal from "@/components/Modal.vue";

export default {
  components: {
    Modal,
  },
  data: function () {
    return {};
  },
  methods: {
    closeModal(name) {
      this.$modal.hide(name);
    },
    beforeOpen() {},
  },
};
</script>
