<template>
  <Modal name="success_signup" title="Спасибо!" @closeModal="closeModal">
    <template v-slot:content>
      <div class="success_modal">
        <p class="success_modal__text">
          Проверьте свою почту и активируйте учётную запись.
        </p>
        <div class="success_modal__footer"></div>
      </div>
    </template>
  </Modal>
</template>

<script>
import Modal from "@/components/Modal.vue";

export default {
  components: {
    Modal,
  },
  data: function () {
    return {};
  },
  methods: {
    closeModal(name) {
      this.$modal.hide(name);
    },
    beforeOpen() {},
  },
};
</script>
