.btn {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease-in-out;

    &:focus {
        outline: none;
    }

    &--primary {
        color: #FFFFFF;
        font-size: 13px;
        line-height: 1.6;
        text-transform: uppercase;
        background: #E50044;
        border-radius: 40px;
        padding: 13px 23px 11px;
        border: 2px solid #E50044;
        // min-width: 145px;
    }

    // &--default {

    // }

    &--primary:hover {
        color: #E50044;
        background: transparent;
    }

    &--lg {
        font-size: 21px;
        padding: 17px 44px 16px;
        border-width: 3px;
    }

    &--secondary  {
        color: #FFFFFF;
        text-transform: uppercase;
        font-size: 13px;
        line-height: 1.6;
        background: #013F5D;
        border: 2px solid #013F5D;
        box-sizing: border-box;
        border-radius: 40px;
        padding: 13px 35px 11px;
    }

    &--secondary:hover {
        color: #013F5D;
        background-color: transparent;
    }

    &--save {
        color: #FFFFFF;
        font-size: 13px;
        text-transform: uppercase;
        background: #56A956;
        border-radius: 40px;
        padding: 5px 15px;
    }
    &--save:hover {
        opacity: 0.8;
    }

    &--cancel {
        color: #FFFFFF;
        font-size: 13px;
        text-transform: uppercase;
        background: #BFD5E0;
        border-radius: 40px;
        padding: 5px 15px;
    }
    &--cancel:hover {
        opacity: 0.8;
    }

    &--default {
        color: #013F5D;
        font-size: 13px;
        line-height: 1.6;
        text-transform: uppercase;
        padding: 13px 23px 11px;
        border: 2px solid #D6EDF2;
        background: #D6EDF2;
        border-radius: 40px;
    }

    &--default:hover {
        color: #D6EDF2;
        background-color: transparent;
    }

    &--sm {
        padding: 7px 23px 6px;
    }

    @media (max-width: 1023px) {
        &--lg {
            font-size: 15px;
            padding: 10px 25px 9px;
        }
    }
}