.form {

    &__field {
        display: block;
        margin-bottom: 8px;

        &--white.error {
        	input {
	        	background: #fcc;
			}
        }

        &.error {
        	input {
	        	background: #fcc;
			}
        }
    }

    &__caption {
        font-size: 11px;
        color: #49829E;
        margin-left: 18px;
        margin-bottom: 3px;
    }

    &-textarea.error {
    	textarea {
	    	background: #fcc;
		}
    }
}

.btn.btn--primary {

	position: relative;
	
	& img {
		display: none;
		position: absolute;
		width: 2.5rem;
		right: 0;
		top: 50%;
		transform: translate(0,-50%);
	}
}

.btn.btn--primary.loading {
	& img {
		display: block;
	}
}

.btn.btn--secondary {

	position: relative;
	
	& img {
		display: none;
		position: absolute;
		width: 2.5rem;
		right: 0;
		top: 50%;
		transform: translate(0,-50%);
	}
}

.btn.btn--secondary.loading {
	& img {
		display: block;
	}
}

.error-hint {
	padding-left: 10px;
	padding-top: 2px;
	color: #E50044;
}

.error .v-select {
	background: #fcc;
}