.account {
    min-height: calc(100vh - 71px - 159px);
    padding-top: 55px;
    padding-bottom: 57px;
    background-color: #8accd9;
    &__header_mob {
        display: none;
    }

    &__header-title {
        position: relative;
        font-family: "alboroto";
        font-size: 42px;
        text-align: center;
        margin-bottom: 20px;

        &:before {
            content: '';
            position: absolute;
            top: 10px;
            left: -60px;
            width: 48px;
            height: 39px;
            background-image: url("../../assets/images/profile/star_left.png");
        }
        &:after {
            content: '';
            position: absolute;
            top: -25px;
            right: -50px;
            width: 42px;
            height: 39px;
            background-image: url("../../assets/images/profile/star_left.png");
        }
    }
    @media (max-width: 1023px) {
      padding-top: 35px;

      &__header_mob {
        display: flex;
        justify-content: center;
      }
    }
  }