<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Не упусти шанс выиграть «космические» призы!</title>

    <meta property="og:title" content="Не упусти шанс выиграть «космические» призы!" />
    <meta property="og:image" content="<%= BASE_URL %>share.jpeg">
    <meta property="og:url" content="<%= BASE_URL %>">


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-43489348-70"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-43489348-70');
    </script>

    <script type="text/javascript">
      if (typeof __GetI === "undefined") {
        __GetI = [];
      }
      (function () {
        var p = {
          type: "VIEW",
          /* config START */
          site_id: "7160",
          product_id: "",
          product_price: "",
          category_id: "",
          pixel_id: "123"
          /* config END */
        };
        __GetI.push(p);
        var domain = (typeof __GetI_domain) == "undefined" ? "px.adhigh.net" : __GetI_domain;
        var src = ('https:' == document.location.protocol ? 'https://' : 'http://') + domain + '/p.js';
        var script = document.createElement( 'script' );
        script.type = 'text/javascript';
        script.src = src;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(script, s);
      })();
    </script>

    <script>
      gtag('event', 'conversion', {
        'allow_custom_scripts': true,
        'send_to': 'DC-10570616/invmedia/puree0+standard'
      });
    </script>
    <noscript>
      <img src="https://ad.doubleclick.net/ddm/activity/src=10570616;type=invmedia;cat=puree0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;gdpr=GDPR;gdpr_consent=GDPR_CONSENT_755;ord=1?" width="1" height="1" alt="" />
    </noscript>
    <script async src="https://www.googletagmanager.com/gtag/js?id=DC-10570616"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'DC-10570616');
    </script>
    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '144161130846232');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=144161130846232&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->

<link href="https://qr.apmcheck.ru/css/widget.min.css" rel="stylesheet"/>
<script src="https://qr.apmcheck.ru/js/widget.min.js"></script>

  </body>
</html>
