<template>
  <div class="profile">
    <div class="account__header_mob">
      <h2 class="account__header-title">личный кабинет</h2>
    </div>
    <Tabs :links="navLinks">
      <template v-slot:content>
        <div class="profile">
          <form class="profile__form form">
            <div class="profile__info">
              <div class="profile__player">
                <h2 class="profile__title">Данные участника</h2>

                <label
                  class="form__field"
                  :class="{
                    error: validationStatus($v.name) || errorMessage.name,
                  }"
                >
                  <div class="form__caption">имя</div>
                  <input
                    type="text"
                    class="form__field-input form__field-input--md"
                    v-model.trim="name"
                    @focus="errorReset"
                  />
                  <div class="error-hint" v-if="errorMessage.name">
                    {{ errorMessage.name }}
                  </div>
                </label>

                <label
                  class="form__field"
                  :class="{
                    error:
                      validationStatus($v.lastname) || errorMessage.lastname,
                  }"
                >
                  <div class="form__caption">фамилия</div>
                  <input
                    type="text"
                    class="form__field-input form__field-input--md"
                    v-model.trim="lastname"
                    @focus="errorReset"
                  />
                  <div class="error-hint" v-if="errorMessage.lastname">
                    {{ errorMessage.lastname }}
                  </div>
                </label>

                <label
                  class="form__field"
                  :class="{
                    error: validationStatus($v.email) || errorMessage.email,
                  }"
                >
                  <div class="form__caption">e-mail</div>
                  <input
                    type="text"
                    class="form__field-input form__field-input--md"
                    v-model.trim="email"
                    @focus="errorReset"
                    disabled="disabled"
                    readonly="readonly"
                  />
                  <div class="error-hint" v-if="errorMessage.email">
                    {{ errorMessage.email }}
                  </div>
                </label>

                <label
                  class="form__field"
                  :class="{
                    error: validationStatus($v.phone) || errorMessage.phone,
                  }"
                >
                  <div class="form__caption">номер телефона</div>
                  <input
                    type="tel"
                    class="form__field-input form__field-input--md"
                    v-model.trim="phone"
                    v-mask="'+7(###) ###-##-##'"
                    @focus="errorReset"
                  />
                  <div class="error-hint" v-if="errorMessage.phone">
                    {{ errorMessage.phone }}
                  </div>
                </label>
                <!--                <a href="" @click.prevent="logout()" class="to-logout">Выход</a>-->
              </div>
              <div class="profile__children">
                <h2 class="profile__title profile__title--accent">
                  Данные детей участника
                </h2>
                <div class="profile__children-list">
                  <div
                    v-for="(item, index) in childrenList"
                    :key="index"
                    class="profile__children-container"
                  >
                    <div
                      class="
                        profile__children-item profile__children-item--actives
                      "
                    >
                      <div class="profile__children-img">
                        <img
                          src="../../assets/images/profile/girl.png"
                          srcset="../../assets/images/profile/girl@2x.png 2x"
                          alt=""
                          class="profile__children-pic"
                          v-if="item.male === 0"
                        />
                        <img
                          src="../../assets/images/profile/boy.png"
                          srcset="../../assets/images/profile/boy@2x.png 2x"
                          alt=""
                          class="profile__children-pic"
                          v-else
                        />
                      </div>
                      <div class="profile__children-holder">
                        <div class="profile__children-gender">
                          {{
                            parseInt(item.male, 10) === 0
                              ? "девочка"
                              : "мальчик"
                          }}
                        </div>
                        <div
                          class="profile__children-age"
                          v-html="getAge(item.age)"
                        ></div>
                      </div>
                      <div
                        class="profile__children-edit"
                        @click="editChildren(false, index, item)"
                      ></div>
                    </div>
                    <div
                      class="profile__children-item profile__edit-child"
                      v-if="editMode.current === index"
                    >
                      <div class="desc">
                        <div class="gender">
                          <input-radio
                            class="dense"
                            label="мальчик"
                            name="child_sex"
                            value="1"
                            :checked="editMode.male === 1"
                            @click.native="setMale(1)"
                          />
                          <input-radio
                            class="dense red"
                            label="девочка"
                            name="child_sex"
                            value="2"
                            :checked="editMode.male === 0"
                            @click.native="setMale(0)"
                          />
                        </div>
                        <div class="age">
                          <div>Возраст</div>
                          <input
                            min="0"
                            max="18"
                            type="number"
                            class="form__field-input"
                            v-model="editMode.age"
                          />
                        </div>
                      </div>
                      <div class="actions">
                        <button
                          type="button"
                          class="btn btn--save"
                          @click.stop="saveChild"
                        >
                          <span class="save-icon"></span>
                        </button>
                        <button
                          type="button"
                          class="btn btn--cancel"
                          @click.stop="editMode.current = null"
                        >
                          <span class="cancel-icon"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="add-child-container">
                    <div class="add-child" @click="editChildren(true)">
                      <div class="plus"></div>
                      <div class="text">Добавить<br />ребенка</div>
                    </div>
                    <div
                      class="profile__children-item profile__edit-child"
                      v-if="editMode.current === 'new'"
                    >
                      <div class="desc">
                        <div class="gender">
                          <input-radio
                            class="dense"
                            label="мальчик"
                            name="child_sex"
                            value="1"
                            @click.native="setMale(1)"
                          />
                          <input-radio
                            class="dense red"
                            label="девочка"
                            name="child_sex"
                            value="0"
                            @click.native="setMale(0)"
                          />
                        </div>
                        <div class="age">
                          <div>Возраст</div>
                          <input
                            min="0"
                            max="18"
                            type="number"
                            class="form__field-input"
                            v-model="editMode.age"
                          />
                        </div>
                      </div>
                      <div class="actions">
                        <button
                          type="button"
                          class="btn btn--save"
                          @click.stop="saveChild"
                        >
                          <span class="save-icon"></span>
                        </button>
                        <button
                          type="button"
                          class="btn btn--cancel"
                          @click.stop="editMode.current = null"
                        >
                          <span class="cancel-icon"></span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="profile__save">
                <button
                  type="button"
                  class="btn btn--secondary"
                  @click="submit()"
                  :class="{ loading: submitStatus == 'PENDING' }"
                >
                  сохранить изменения<img
                    src="../../assets/img/spinner.svg"
                    alt=""
                  />
                </button>
              </div>
            </div>
            <div class="profile__reg">
              <h3 class="profile__reg-title">вы зарегистрировали</h3>
              <div class="profile__reg-amount">
                <div class="profile__reg-icon"></div>
                <div class="profile__reg-amount-text">
                  <div
                    class="profile__reg-amount-num"
                    v-html="countChecks"
                  ></div>
                  {{ getChecksCountTitle() }}
                </div>
              </div>
              <button class="btn btn--primary" @click.prevent="toCheckUpload()">
                зарегистрировать еще чек
              </button>
            </div>
          </form>
        </div>
      </template>
    </Tabs>
  </div>
</template>

<script>
import Tabs from "@/components/Tabs.vue";

import { required, email } from "vuelidate/lib/validators";
import InputRadio from "@/components/form/inputRadio";

const rus = (value) => /^[А-ЯЁа-яё ]+$/.test(value);

export default {
  components: {
    InputRadio,
    Tabs,
  },
  data: function () {
    return {
      editMode: {
        current: null,
        age: null,
        male: null,
      },
      navLinks: [
        {
          value: "профайл",
          href: "/account/profile",
        },
        {
          value: "история",
          href: "/account/history",
        },
        {
          value: "призы",
          href: "/account/prizes",
        },
      ],
      childrenList: [],
      countChecks: 0,
      email: null,
      name: null,
      lastname: null,
      phone: null,
      errorMessage: {
        email: null,
        name: null,
        lastname: null,
        phone: null,
      },
      submitStatus: null,
    };
  },

  validations: {
    phone: { required },
    email: { required, email },
    name: { required, rus },
    lastname: { required, rus },
  },

  methods: {
    setMale(male) {
      this.editMode.male = male;
    },
    async saveChild(e) {
      e.stopPropagation();
      let childrens = [...this.childrenList];
      const { male, age } = this.editMode;
      if ([0, 1].includes(male) && age !== null && age >= 0 && age < 19) {
        if (this.editMode.current === "new") {
          childrens.push({ male, age });
        } else {
          childrens[this.editMode.current] = { male, age };
        }

        await this.$store
          .dispatch("UpdateProfile", {
            children: childrens,
          })
          .then((r) => {
            if (r.error !== 0) {
              if (r.message) {
                this.$modal.show("common_error", {
                  text: "Что-то пошло не так! " + r.message,
                });
              }
            } else {
              this.childrenList = childrens;
              this.editMode.current = null;
              this.$modal.show("success_profile");
            }
          })
          .catch(() => {
            this.submitStatus = null;
          });
      }
    },
    editChildren(isNew, index, child) {
      if (isNew) {
        this.editMode = {
          current: "new",
          age: null,
          male: null,
        };
      } else {
        this.editMode = { current: index, ...child };
      }
    },
    getAge(number) {
      let declension = ["год", "года", "лет"];
      let cases = [2, 0, 1, 1, 1, 2];
      return (
        number +
        " " +
        declension[
          number % 100 > 4 && number % 100 < 20
            ? 2
            : cases[number % 10 < 5 ? number % 10 : 5]
        ]
      );
    },

    getChecksCountTitle() {
      let declension = ["чек", "чека", "чеков"];
      let cases = [2, 0, 1, 1, 1, 2];
      return declension[
        this.countChecks % 100 > 4 && this.countChecks % 100 < 20
          ? 2
          : cases[this.countChecks % 10 < 5 ? this.countChecks % 10 : 5]
      ];
    },

    toCheckUpload() {
      // let apmButton = document.querySelector("#apm-scan-qr .apm-action-button");
      // if (apmButton) apmButton.click();

      this.$modal.show("action_ended_modal");
    },

    errorReset() {
      this.$v.$reset();

      this.errorMessage = {
        email: null,
        name: null,
        lastname: null,
        phone: null,
      };
    },

    validationStatus: function (validation) {
      return typeof validation != "undefined" ? validation.$error : false;
    },

    submit() {
      this.$v.$touch();
      if (this.$v.$pendding || this.$v.$error) return;

      if (this.submitStatus !== "PENDING") {
        this.submitStatus = "PENDING";

        this.$store
          .dispatch("UpdateProfile", {
            name: this.name,
            surname: this.lastname,
            phone: this.phone,
          })
          .then((r) => {
            if (r.error !== 0) {
              this.submitStatus = null;

              let fieldsError = null;

              if (r.message && r.message.name) {
                [this.errorMessage.name] = r.message.name;
                fieldsError = true;
              }

              if (r.message && r.message.phone) {
                [this.errorMessage.phone] = r.message.phone;
                fieldsError = true;
              }

              if (r.message && r.message.surname) {
                [this.errorMessage.lastname] = r.message.surname;
                fieldsError = true;
              }

              if (r.message && !fieldsError) {
                this.$modal.show("common_error", {
                  text: "Что-то пошло не так! " + r.message,
                });
              }
            } else {
              this.$modal.show("success_profile");
            }
          })
          .catch(() => {
            this.submitStatus = null;
          });
      }
    },

    showModal(name) {
      this.$modal.show(name);
    },
    closeModal(name) {
      this.$modal.hide(name);
    },

    logout() {
      this.$store.dispatch("LogOut");
      document.location.reload();
    },
  },
  mounted() {
    this.$store.dispatch("GetProfile").then((response) => {
      //console.log(response);

      this.name = response.result.profile.name;
      this.lastname = response.result.profile.surname;
      this.phone = response.result.profile.phone;
      this.email = response.result.profile.email;
      this.childrenList = response.result.children;
      this.countChecks = response.result.countChecks;
    });
  },
};
</script>
<style lang="scss" scoped>
.add-child-container {
  position: relative;
  border-radius: 10px;
  margin: 5px;
  width: 170px;
  height: 96px;

  .add-child {
    background-color: white;
    border: 1px dashed #bfd5e0;
    box-sizing: border-box;
    border-radius: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    .plus {
      transition: all 0.3s ease-in-out;
      width: 32px;
      height: 32px;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='16' fill='%23BFD5E0'/%3E%3Cpath d='M14.425 15.1V9.8C14.425 9.06667 14.8417 8.7 15.675 8.7C16.525 8.7 16.95 9.06667 16.95 9.8V15.1H22.1C22.8333 15.1 23.2 15.5167 23.2 16.35C23.2 17.1667 22.8333 17.575 22.1 17.575H16.95V22.9C16.95 23.6333 16.525 24 15.675 24C14.8417 24 14.425 23.6333 14.425 22.9V17.575H9.275C8.54167 17.575 8.175 17.1667 8.175 16.35C8.175 15.5167 8.54167 15.1 9.275 15.1H14.425Z' fill='white'/%3E%3C/svg%3E%0A");
    }
    .text {
      transition: all 0.3s ease-in-out;
      font-weight: bold;
      font-size: 13px;
      line-height: 16px;
      text-transform: uppercase;
      color: #bfd5e0;
    }

    &:hover {
      border: 1px dashed #013f5d;
      .plus {
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='16' fill='%23013f5d'/%3E%3Cpath d='M14.425 15.1V9.8C14.425 9.06667 14.8417 8.7 15.675 8.7C16.525 8.7 16.95 9.06667 16.95 9.8V15.1H22.1C22.8333 15.1 23.2 15.5167 23.2 16.35C23.2 17.1667 22.8333 17.575 22.1 17.575H16.95V22.9C16.95 23.6333 16.525 24 15.675 24C14.8417 24 14.425 23.6333 14.425 22.9V17.575H9.275C8.54167 17.575 8.175 17.1667 8.175 16.35C8.175 15.5167 8.54167 15.1 9.275 15.1H14.425Z' fill='white'/%3E%3C/svg%3E%0A");
      }
      .text {
        color: #013f5d;
      }
    }
  }
}
</style>
<style lang="scss">
.form__field--white {
  margin-bottom: 24px;

  .form__field-input {
    border-color: #fff;
  }
}
.form__field--blue {
  margin-bottom: 24px;

  .form__field-input {
    border-color: #d6edf2;
    background-color: #d6edf2;
  }
}

.form__field-input {
  font-size: 13px;
  background: #ffffff;
  border: 2px solid #bfd5e0;
  border-radius: 40px;
  /*text-transform: uppercase;*/
  padding: 8px 18px 7px;
  transition: all 0.3s ease-in-out;

  &--md {
    min-width: 250px;
  }

  &:focus {
    outline: none;
    border-color: #013f5d;
  }
}

.receipt_question {
  &__footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .btn {
      margin: 5px;
    }
  }
}

.to-logout {
  color: #e50044;
  font-size: 18px;
  position: absolute;
  right: 35px;
  top: 5px;
}

.receipt_error {
  text-align: center;
  &__icon {
    margin: 0 auto;
  }

  &__footer {
    margin-top: 20px;
  }
}

.success_modal {
  text-align: center;
  &__text {
    font-size: 13px;
    margin-top: 20px;
  }

  &__footer {
    text-align: center;
    margin-top: 19px;
  }
}
.receipt_download {
  &__upload {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 260px;
    height: 220px;
    margin: 0 auto;
    background: #ffffff;
    border-radius: 25px;
    padding: 20px;
    margin-top: 25px;
  }

  &__upload:before {
    content: "";
    position: absolute;
    top: 7px;
    left: 7px;
    right: 7px;
    bottom: 7px;
    border: 3px dashed #8accd9;
    border-radius: 20px;
  }

  &__input {
    position: absolute;
    left: -9999px;
    opacity: 0;
    visibility: hidden;
  }

  &__upload-caption {
    max-width: 170px;
    margin: 0 auto;
    margin-top: 8px;
  }

  &__footer {
    text-align: center;
    margin-top: 20px;
  }
}

.profile {
  &__form {
    display: flex;
  }

  &__title {
    font-size: 21px;
    line-height: 1.3;
    margin-bottom: 18px;
  }

  &__title--accent {
    color: #e50044;
  }

  &__player {
    padding-right: 50px;
    border-right: 3px dotted #c4e5ec;
  }

  &__children {
    flex: 1;
    margin-left: 50px;
  }

  &__children-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
    > * {
      flex-shrink: 0;
    }
  }
  &__children-container {
    position: relative;
    margin: 5px;
    width: 170px;
    height: 96px;
  }
  &__children-item {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #bfd5e0;
    border-radius: 10px;
    padding: 13px 24px 17px 1px;
    width: 170px;
    height: 96px;
  }
  &__edit-child {
    position: absolute;
    left: 0;
    top: 0;
    width: 170px;
    height: 96px;
    align-items: center;
    border-radius: 10px;
    margin: 0;
    padding: 12px 18px;
    border: 2px solid #013f5d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;

    .desc {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .gender {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        flex-grow: 1;
        border-right: 1px dashed #c4e5ec;
      }

      .age {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-weight: bold;
        font-size: 9px;
        line-height: 19px;
        text-transform: uppercase;
        color: #013f5d;
        gap: 3px;
        input {
          height: 20px;
          width: 40px;
          font-weight: bold;
          font-size: 13px;
          line-height: 19px;
          text-transform: uppercase;
          color: #013f5d;
          text-align: center;
          padding: 0;
        }
      }
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      width: 100%;
    }
  }
  &__children-item--active {
    .profile__children-gender {
      color: #e50044;
    }
  }

  &__children-gender {
    font-size: 17px;
  }

  &__children-age {
    font-size: 13px;
  }

  &__info {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin-right: 50px;
  }

  &__save {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 25px;

    .btn {
      position: relative;
      z-index: 1;
    }

    .btn:hover {
      background-color: #fff;
    }
  }

  &__save:after {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
    content: "";
    height: 2px;
    width: 100%;
    background-color: #013f5d;
  }

  &__reg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    background: #c4e5ec;
    padding: 50px 30px;
    border-radius: 20px;
  }

  &__reg-title {
    font-size: 13px;
  }

  &__reg-amount {
    position: relative;
  }

  &__reg-amount-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
  }

  &__reg-amount-num {
    font-size: 36px;
    line-height: 1.1;
  }

  &__reg-icon {
    width: 156px;
    height: 151px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../../assets/images/profile/amount_icon.png");

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url("../../assets/images/profile/amount_icon@2x.png");
    }
  }

  &__children-edit {
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 20px;
    right: 6px;
    bottom: 6px;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='10' fill='%23BFD5E0'/%3E%3Cmask id='mask0' mask-type='alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Ccircle cx='10' cy='10' r='10' fill='%23BFD5E0'/%3E%3C/mask%3E%3Cg mask='url(%23mask0)'%3E%3Cpath d='M5.56873 14.8436L7.47654 7.16075L19.1812 -4.54395L24.9562 1.23106L13.2515 12.9357L5.56873 14.8436ZM8.81716 7.88262L7.57966 12.8326L12.5297 11.5951L22.9453 1.1795L19.2328 -2.53301L8.81716 7.88262Z' fill='white'/%3E%3Cpath d='M12.014 12.4716C11.4984 10.4607 9.95154 8.91384 7.94061 8.39821L8.30155 6.95447C10.8281 7.57322 12.7875 9.53259 13.4062 12.0592L12.014 12.4716Z' fill='white'/%3E%3Cpath d='M11.8594 9.63574L10.8281 8.55293L21.0891 -1.70801L22.1203 -0.676758L11.8594 9.63574Z' fill='white'/%3E%3Cpath d='M6.59998 13.8123L8.86872 13.2451C8.66247 12.4201 7.99216 11.7498 7.16716 11.5436L6.59998 13.8123Z' fill='white'/%3E%3Cpath d='M25.5234 0.663922L19.7484 -5.11108L22.0687 -7.4314L22.4297 -7.37983C25.214 -7.01889 27.4312 -4.80171 27.7922 -2.01733L27.8437 -1.65639L25.5234 0.663922ZM21.8625 -5.11108L25.575 -1.39858L26.2968 -2.12045C25.8843 -3.9767 24.4406 -5.42046 22.5844 -5.83296L21.8625 -5.11108Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='10' fill='%23013F5D'/%3E%3Cmask id='mask0' mask-type='alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='20' height='20'%3E%3Ccircle cx='10' cy='10' r='10' fill='%23013F5D'/%3E%3C/mask%3E%3Cg mask='url(%23mask0)'%3E%3Cpath d='M5.56873 14.8436L7.47654 7.16075L19.1812 -4.54395L24.9562 1.23106L13.2515 12.9357L5.56873 14.8436ZM8.81716 7.88262L7.57966 12.8326L12.5297 11.5951L22.9453 1.1795L19.2328 -2.53301L8.81716 7.88262Z' fill='white'/%3E%3Cpath d='M12.014 12.4716C11.4984 10.4607 9.95154 8.91384 7.94061 8.39821L8.30155 6.95447C10.8281 7.57322 12.7875 9.53259 13.4062 12.0592L12.014 12.4716Z' fill='white'/%3E%3Cpath d='M11.8594 9.63574L10.8281 8.55293L21.0891 -1.70801L22.1203 -0.676758L11.8594 9.63574Z' fill='white'/%3E%3Cpath d='M6.59998 13.8123L8.86872 13.2451C8.66247 12.4201 7.99216 11.7498 7.16716 11.5436L6.59998 13.8123Z' fill='white'/%3E%3Cpath d='M25.5234 0.663922L19.7484 -5.11108L22.0687 -7.4314L22.4297 -7.37983C25.214 -7.01889 27.4312 -4.80171 27.7922 -2.01733L27.8437 -1.65639L25.5234 0.663922ZM21.8625 -5.11108L25.575 -1.39858L26.2968 -2.12045C25.8843 -3.9767 24.4406 -5.42046 22.5844 -5.83296L21.8625 -5.11108Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    }
  }

  .cancel-icon,
  .save-icon {
    display: block;
    height: 10px;
    width: 10px;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.61544 0.205305C9.1996 -0.143589 8.61792 -0.0368381 8.31505 0.442241L3.99085 7.29515L1.60882 4.50139C1.25788 4.06918 0.668985 4.04835 0.294013 4.45453C-0.0809596 4.8581 -0.100189 5.53766 0.25315 5.96727C0.25315 5.96727 3.14717 9.4458 3.563 9.7947C3.97884 10.1436 4.56052 10.0368 4.86339 9.55776L9.82215 1.70243C10.125 1.22074 10.0313 0.551596 9.61544 0.205305Z' fill='white'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
  }

  .cancel-icon {
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.275283 8.39971L3.675 5L0.275283 1.60029C-0.0917616 1.23324 -0.0917616 0.642327 0.275283 0.275283C0.642327 -0.091761 1.23324 -0.091761 1.60029 0.275283L5 3.675L8.39971 0.275283C8.76676 -0.091761 9.35767 -0.091761 9.72472 0.275283C10.0918 0.642327 10.0918 1.23324 9.72472 1.60029L6.325 5L9.72472 8.39971C10.0918 8.76676 10.0918 9.35767 9.72472 9.72472C9.35767 10.0918 8.76676 10.0918 8.39971 9.72472L5 6.325L1.60029 9.72472C1.23324 10.0918 0.642327 10.0918 0.275283 9.72472C-0.0891581 9.35767 -0.0891581 8.76416 0.275283 8.39971Z' fill='white'/%3E%3C/svg%3E%0A");
  }

  @media (max-width: 1216px) {
    &__info {
      margin-right: 30px;
    }

    &__children {
      margin-left: 30px;
    }

    &__player {
      padding-right: 30px;
    }
  }

  @media (max-width: 1023px) {
    &__form {
      flex-direction: column;
      align-items: center;
    }

    &__info {
      margin-right: 0;
      justify-content: center;
    }

    &__player {
      padding-right: 0;
      border-right: 0;
    }

    &__title {
      text-align: center;
      margin-top: 10px;
    }

    &__reg {
      margin-top: 40px;
    }

    .to-logout {
      right: 15px;
    }
  }

  @media (max-width: 767px) {
    &__info {
      flex-direction: column;
      align-items: center;
    }

    &__player {
      padding-bottom: 17px;
      border-bottom: 3px dotted #c4e5ec;
      margin-bottom: 20px;
    }

    &__children {
      margin-left: 0;
    }

    &__children-list {
      justify-content: center;
      margin: 0 -7px;
    }

    //&__children-item {
    //  width: 120px;
    //  flex-direction: column;
    //  text-align: center;
    //  padding: 8px 15px;
    //  margin: 7px;
    //}

    //&__children-img {
    //  margin-bottom: 8px;
    //}
  }

  @media (max-width: 440px) {
    &__reg {
      width: 100%;
      padding: 30px;
    }
  }
}
</style>
