<template>
  <div class="cards">
    <div class="container">
      <div class="cards__row">
        <div class="cards__content">
          <div class="cards__star_top_left"></div>
          <div class="cards__rocket"></div>
          <h2 class="cards__title">
            создайте
            <span> космическую открытку со своим малышом! </span>
          </h2>
          <button class="btn btn--primary" @click.prevent="fileClick()">
            загрузить фотографию
          </button>
          <input
            type="file"
            name="img"
            accept="image/png, image/jpeg"
            style="display: none"
            @change="fileUploaded()"
            ref="fileInput"
          />
          <div class="cards__rabbit"></div>
          <div class="cards__star_bottom_center_left"></div>
          <div class="cards__star_bottom_left"></div>
        </div>
        <div class="cards__canvas">
          <div class="cards__star_top_right"></div>
          <div style="width: 100%; height: 500px">
            <iframe
              :src="getIframeUrl()"
              ref="ifr"
              width="100%"
              height="500"
            ></iframe>
          </div>
          <!--<div class="cards__canvas-footer">
            <button class="btn btn--default">сохранить</button>
            <button class="btn btn--secondary">рассказать друзьям</button>
          </div>-->
          <div class="cards__star_bottom_right"></div>
        </div>
      </div>
      <div class="cards__rabbit-mob"></div>
    </div>
    <HelloModal />
  </div>
</template>

<script>
import { isMobile } from "../utils/device";
import HelloModal from "@/components/modals/cardsHello.vue";

export default {
  components: {
    HelloModal,
  },
  methods: {
    showModal(name) {
      this.$modal.show(name);
    },
    getIframeUrl() {
      if (isMobile()) return "/game/mobile/index.html";
      else return "/game/pc/index.html";
    },

    fileUploaded() {
      let t = this;

      let ifr = this.$refs.ifr;

      //console.log(this.$refs.fileInput);

      let input = this.$refs.fileInput;
      if (input.files && input.files[0]) {
        ifr.contentWindow.postMessage("block", "*");

        var reader = new FileReader();
        reader.onload = function (e) {
          let data = e.target.result;

          //console.log(data);

          t.$store
            .dispatch("UploadImage", { file_contents: data })
            .then((response) => {
              let url = response.img;

              ifr.contentWindow.postMessage(url, "*");
            });
        };
        reader.readAsDataURL(input.files[0]);
      }
    },

    fileClick() {
      this.$refs.fileInput.click();

      gtag("event", "click", {
        event_category: "internal",
        event_label: "editor_upload_image",
      });
    },
  },
  mounted() {
    this.showModal("cards_hello");

    window.addEventListener(
      "message",
      function (event) {
        //console.log(event);

        try {
          let data = JSON.parse(event.data);

          //console.log(data);

          if (data.type && data.type == "share") location.href = data.url;
        } catch (e) { console.log('error') }
      },
      false
    );
  },
};
</script>

<style lang="scss" scoped>
.cards {
  position: relative;
  padding-bottom: 48px;
  background-color: #8accd9;

  &__rocket {
    position: absolute;
    top: -140px;
    right: 160px;
    background-image: url("../assets/images/cards/rocket.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 165px;
    height: 151px;

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url("../assets/images/cards/rocket@2x.png");
    }
  }

  &__rabbit {
    position: absolute;
    left: -150px;
    bottom: -210px;
    background-image: url("../assets/images/cards/rabbit.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 390px;
    height: 166px;

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url("../assets/images/cards/rabbit@2x.png");
    }
  }

  &__rabbit-mob {
    display: none;
    position: absolute;
    left: -60px;
    bottom: 25px;
    background-image: url("../assets/images/cards/rabbit.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 336px;
    height: 143px;

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url("../assets/images/cards/rabbit@2x.png");
    }
  }

  &__star_top_left {
    position: absolute;
    top: -85px;
    right: 370px;
    background-image: url("../assets/images/cards/star_top_left.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 42px;
    height: 42px;

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url("../assets/images/cards/star_top_left@2x.png");
    }
  }

  &__star_top_right {
    position: absolute;
    top: 49px;
    right: 0;
    background-image: url("../assets/images/cards/star_top_right.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 56px;
    height: 57px;

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url("../assets/images/cards/star_top_right@2x.png");
    }
  }

  &__star_bottom_right {
    position: absolute;
    bottom: 80px;
    right: 0;
    background-image: url("../assets/images/cards/star_bottom_right.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 48px;
    height: 47px;

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url("../assets/images/cards/star_bottom_right@2x.png");
    }
  }

  &__star_bottom_left {
    position: absolute;
    bottom: -170px;
    left: 425px;
    background-image: url("../assets/images/cards/star_bottom_left.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 53px;
    height: 51px;

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url("../assets/images/cards/star_bottom_left@2x.png");
    }
  }

  &__star_bottom_center_left {
    position: absolute;
    bottom: -60px;
    left: 330px;
    background-image: url("../assets/images/cards/star_bottom_center_left.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 45px;
    height: 47px;

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url("../assets/images/cards/star_bottom_center_left@2x.png");
    }
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__content {
    position: relative;
    flex: 1;
  }

  &__title {
    max-width: 410px;
    font-family: "alboroto";
    color: #013f5d;
    font-size: 42px;
    line-height: 1;
    margin-bottom: 20px;
  }

  &__title span {
    display: block;
  }

  &__canvas {
    position: relative;
    flex: 1;
    padding-top: 49px;
  }

  &__canvas-footer {
    display: flex;
    justify-content: center;
    margin-top: 24px;
  }

  &__canvas-footer .btn {
    margin-right: 15px;
  }

  &__canvas-footer .btn:last-child {
    margin-right: 0;
  }

  @media (max-width: 1023px) {
    padding-top: 46px;
    padding-bottom: 175px;

    &__rocket {
      display: none;
    }

    &__rabbit {
      display: none;
    }

    &__rabbit-mob {
      display: block;
    }

    &__star_top_left {
      right: inherit;
      top: -10px;
      left: -15px;
    }

    &__star_bottom_left {
      left: inherit;
      bottom: inherit;
      top: -25px;
      right: -25px;
    }

    &__star_bottom_right {
      right: 5px;
      bottom: -125px;
    }

    &__star_top_right {
      top: inherit;
      right: inherit;
      bottom: -64px;
      left: 5px;
    }

    &__star_bottom_center_left {
      display: none;
    }

    &__row {
      flex-direction: column;
    }

    &__content {
      text-align: center;
    }

    &__title {
      max-width: 355px;
    }

    &__title span {
      font-size: 30px;
    }

    &__canvas {
      width: 100%;
    }

    &__canvas-footer {
      flex-direction: column;
      align-items: center;

      .btn {
        margin-right: 0;
        margin-bottom: 15px;
      }
    }
  }
}
</style>
