<template>
  <div class="faq">
    <div class="container">
      <div class="faq__row">
        <div class="faq__content">
          <div class="faq__header">
            <h2 class="faq__title">
              <div class="faq__star_left"></div>
              FaQ — вопросы и ответы
              <div class="faq__star_right"></div>
            </h2>
          </div>
          <div class="faq__list">
            <div
              class="faq__item"
              v-for="(item, index) in faq"
              :key="index"
              :class="item.isActive ? 'faq__item--active' : ''"
            >
              <div
                class="faq__item-header"
                @click="item.isActive = !item.isActive"
              >
                <h2 class="faq__item-title">{{ item.title }}</h2>
                <svg
                  class="faq__item-arrow"
                  width="18"
                  height="12"
                  viewBox="0 0 18 12"
                  fill="#013F5D"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.1531 11.4608L17.6534 2.46047C17.9065 2.15451 18.028 1.76072 17.9914 1.36533C17.9547 0.969953 17.7629 0.605205 17.4579 0.350965C17.1529 0.0967243 16.7596 -0.0262876 16.364 0.00886631C15.9685 0.0440203 15.6031 0.234475 15.3477 0.538524L9.00017 8.15603L2.65267 0.538524C2.39764 0.233303 2.03188 0.041796 1.63574 0.00607062C1.23961 -0.0296548 0.845488 0.0933237 0.539961 0.347991C0.234434 0.602658 0.04249 0.968187 0.00629044 1.36428C-0.0299091 1.76038 0.092598 2.15464 0.346899 2.46047L7.84735 11.4608C7.98834 11.6296 8.16467 11.7654 8.36388 11.8585C8.56308 11.9517 8.78031 11.9999 9.00022 11.9999C9.22013 11.9999 9.43736 11.9517 9.63657 11.8585C9.83578 11.7654 10.0121 11.6296 10.1531 11.4608Z"
                  />
                </svg>
              </div>
              <div
                class="faq__item-content"
                v-if="item.isActive"
                v-html="item.text"
              ></div>
            </div>
          </div>
        </div>
        <div class="faq__ask">
          <div class="faq__star_top"></div>
          <div class="faq__rabbit"></div>
          <div class="faq__ask-content">
            <div class="faq__ask-title">
              если вы не нашли ответ на свой вопрос, напишите нам
            </div>
            <button class="btn btn--secondary" @click.prevent="toFeedback()">
              задать вопрос
            </button>
          </div>
          <div class="faq__star_bottom"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: function () {
    return {
      faq: [
        {
          title: "Как стать участником акции?",
          text: "<p>Для участия в&nbsp;акции необходимо:<br />1.	Совершить покупки в&nbsp;любой Точке продаж <nobr>продуктов-участников</nobr> в&nbsp;количестве от&nbsp;5 (пять) штук.<br />2.	Зарегистрироваться/авторизоваться на&nbsp;Сайте Акции.<br />3.	Зарегистрировать Чек о&nbsp;покупке Продукции на&nbsp;Сайте Акции. Регистрация Чека производится путем загрузки фотографии Чека и&nbsp;сканирования чека.<br />4.	Сохранить Чек, подтверждающий Покупку Продукции.<br />5.	Дождаться проверки Чека на&nbsp;соответствие условиям Акции.</p>",
          isActive: false,
        },
        {
          title: "Кто проводит акцию?",
          text: "<p>Организатором Акции (далее&nbsp;&mdash; &laquo;Организатор&raquo;), то&nbsp;есть юридическим лицом, созданным в&nbsp;соответствии с&nbsp;законодательством Российской Федерации, являющимся инициатором проведения Акции, является Акционерное общество &laquo;Прогресс&raquo; (фактический адрес: 398902, г.&nbsp;Липецк, ул.&nbsp;Ангарская, владение 2. юридический адрес: 398902, г.&nbsp;Липецк, ул.&nbsp;Ангарская, владение 2, <acronym title='Идентификационный номер налогоплательщика' lang='ru'>ИНН</acronym> 4826022365, КПП 482601001).</p><p>Оператором Акции (далее&nbsp;&mdash; &laquo;Оператор&raquo;), то&nbsp;есть юридическим лицом, созданным в&nbsp;соответствии с&nbsp;законодательством Российской Федерации, заключившим Договор с&nbsp;Организатором Акции на&nbsp;проведение Акции является Общество с&nbsp;ограниченной ответственностью &laquo;Дайверсити&raquo; (фактический адрес: 115114, г.&nbsp;Москва, <nobr>2-й</nobr> Кожевнический переулок, д. 12; юридический адрес: 143402, Московская обл., г.&nbsp;Красногорск, ул.&nbsp;Жуковского, д. 17, пом. III, ком. 6&ndash;6, <acronym title='Идентификационный номер налогоплательщика' lang='ru'>ИНН</acronym> 7723633495, КПП 502401001).</p>",
          isActive: false,
        },
        {
          title: "Сроки проведения акции",
          text: "<p>Акция проводится в&nbsp;срок с&nbsp;20 июня 2021 года по&nbsp;20&nbsp;марта 2022 года, в&nbsp;том числе в&nbsp;следующие сроки (включительно):</p><p>Период совершения покупок Продукции: с&nbsp;20 июня 2021 года по&nbsp;20 октября 2021 года.</p><p>Период регистрации Чеков на&nbsp;Сайте: с&nbsp;21 июня 2021 года по&nbsp;20 октября 2021 года.</p><p>Период определения Победителей Акции: со&nbsp;02 июля 2021&nbsp;г. по&nbsp;20 декабря 2021&nbsp;г.</p><p>Вручение (отправка) Гарантированных призов осуществляется в&nbsp;срок до&nbsp;20 декабря 2021 года.<br />Вручение (отправка) Еженедельных призов и&nbsp;Главного приза осуществляется в&nbsp;срок до&nbsp;20&nbsp;марта 2022 года.</p>",
          isActive: false,
        },
        {
          title: "Кто может принимать участие в акции?",
          text: "<p>Участниками могут стать физические лица, обладающие гражданской дееспособностью, достигшие возраста 18 лет на&nbsp;дату проведения Акции, являющиеся гражданами Российской Федерации</p>",
          isActive: false,
        },
        {
          title: "Какие продукты принимают участие в акции?",
          text: "<p>ФрутоНяня 90 гр. Десерт из&nbsp;яблок, бананов и&nbsp;клубники для питания детей раннего возраста<br />ФрутоНяня 90 г. Десерт из&nbsp;яблок, клубники и&nbsp;малины для питания детей раннего возраста<br />ФрутоНяня 90 гр. Десерт из&nbsp;яблок, вишни, рябины черной и&nbsp;смородины черной для питания детей раннего возраста<br />ФрутоНяня 90 г. Пюре яблочное натуральное для питания детей раннего возраста. Органический продукт.<br />ФрутоНяня 90 г. Пюре из&nbsp;манго натуральное для питания детей раннего возраста. Органический продукт.<br />ФрутоНяня 90 г. Пюре из&nbsp;бананов натуральное для питания детей раннего возраста. Органический продукт.<br />ФрутоНяня 130г.&nbsp;Пюре из&nbsp;яблок и&nbsp;ягод с&nbsp;овсяными хлопьями для питания детей раннего возраста<br />ФрутоНяня 130г.&nbsp;Пюре из&nbsp;яблок, бананов и&nbsp;груш со&nbsp;злаками для питания детей раннего возраста<br />ФрутоНяня 130г.&nbsp;Пюре из&nbsp;яблок и&nbsp;персиков со&nbsp;злаками для питания детей раннего возраста<br />ФрутоНяня 130г.&nbsp;Пюре из&nbsp;яблок, малины и&nbsp;ежевики с&nbsp;&laquo;мюсли&raquo; для питания детей раннего возраста<br />ФрутоНяня 90 г. Пюре из&nbsp;яблок и&nbsp;черники с&nbsp;печеньем для питания детей раннего возраста<br />ФрутоНяня 90 г. Пюре фруктовое &laquo;салатик из&nbsp;фруктов&raquo; (4 фрукта) для питания детей раннего возраста<br />ФрутоНяня 90 г. Пюре из&nbsp;яблок, бананов, и&nbsp;груш с&nbsp;печеньем для питания детей раннего возраста<br />ФрутоНяня 90 г. Пюре яблочное натуральное для питания детей раннего возраста<br />ФрутоНяня 90 г. Пюре грушевое натуральное для питания детей раннего возраста<br />ФрутоНяня 90 г. Пюре <nobr>яблочно-банановое</nobr> с&nbsp;творогом для питания детей раннего возраста<br />ФрутоНяня 90 гр. Пюре <nobr>яблочно-грушевое</nobr> с&nbsp;творогом для питания детей раннего возраста<br />ФрутоНяня 90 г. Пюре из&nbsp;яблок, шиповника и&nbsp;клюквы, обогащенное витамином С&nbsp;&laquo;витаминный салатик&raquo; для питания детей раннего возраста<br />ФрутоНяня 90 г&nbsp;Пюре из&nbsp;яблок, черной и&nbsp;красной смородины &laquo;салатик со&nbsp;смородиной&raquo; для питания детей раннего возраста<br />ФрутоНяня 90 г. Пюре из&nbsp;яблок и&nbsp;абрикосов со&nbsp;сливками для пит. дет. р.в.<br />ФрутоНяня 90 г. Пюре из&nbsp;яблок и&nbsp;малины с&nbsp;творогом для питания детей раннего возраста<br />ФрутоНяня 90 г. Пюре из&nbsp;яблок и&nbsp;манго с&nbsp;йогуртом для питания детей раннего возраста<br />ФрутоНяня 90 г. Пюре из&nbsp;яблок, груш, бананов и&nbsp;персиков с&nbsp;йогуртом для питания детей раннего возраста<br />ФрутоНяня 90 г. Пюре из&nbsp;яблок, земляники и&nbsp;ежевики с&nbsp;овсяным печеньем для питания детей раннего возраста<br />ФрутоНяня 90 г. Пюре из&nbsp;яблок с&nbsp;печеньем &laquo;шарлотка&raquo; для питания детей раннего возраста<br />ФрутоНяня 90 г. Пюре из&nbsp;яблок, черники, клюквы и&nbsp;брусники, обогащенное витаминами для питания детей раннего возраста<br />ФрутоНяня 90 г. Пюре из&nbsp;яблок и&nbsp;ягод с&nbsp;овсяными хлопьями для питания детей раннего возраста<br />ФрутоНяня 90 г. Пюре из&nbsp;яблок, бананов и&nbsp;груш со&nbsp;злаками для питания детей раннего возраста<br />ФрутоНяня 90 г. Пюре из&nbsp;яблок и&nbsp;персиков со&nbsp;злаками для питания детей раннего возраста<br />ФрутоНяня 90 г. Пюре из&nbsp;яблок, малины и&nbsp;ежевики с&nbsp;&laquo;мюсли&raquo; для питания детей раннего возраста<br />ФрутоKids 90 г. Пюре из&nbsp;яблок, груш, винограда и&nbsp;киви &laquo;зеленый микс&raquo; для питания детей раннего возраста<br />ФрутоKids 90 г. Пюре из&nbsp;яблок, бананов, абрикосов, манго и&nbsp;маракуйи &laquo;желтый микс&raquo; для питания детей раннего возраста<br />ФрутоKids 90 г. Пюре из&nbsp;яблок, персиков, моркови и&nbsp;апельсинов &laquo;оранжевый микс&raquo; для питания детей раннего возраста<br />ФрутоKids 90 г. Пюре из&nbsp;яблок, черешни, малины и&nbsp;красной смородины &laquo;красный микс&raquo; для питания детей раннего возраста<br />ФрутоНяня 180 г. Пюре <nobr>яблочно-грушевое</nobr> для питания детей раннего возраста<br />ФрутоНяня 180 г. Пюре из&nbsp;яблок и&nbsp;банана для питания детей раннего возраста</p>",
          isActive: false,
        },
        {
          title: "Сколько акционных продуктов нужно купить?",
          text: "<p>Для возможности получения Гарантированного приза, Еженедельного приза и&nbsp;Главного приза необходимо совершить единовременную покупку <nobr>продуктов-участников</nobr> в&nbsp;количестве от&nbsp;5 (пять) штук.</p><p>Каждый Чек, содержащий <nobr>продукты-участники</nobr> в&nbsp;количестве от&nbsp;5 (пять) штук, равен одной заявке на&nbsp;розыгрыш призов.</p>",
          isActive: false,
        },
        {
          title: "Нужно ли сохранять чек?",
          text: "<p>Фискальный чек, подтверждающий покупку Продукции необходимо сохранить до&nbsp;окончания Общего срока проведения Акции</p>",
          isActive: false,
        },
        {
          title: "Где посмотреть все мои загруженные чеки?",
          text: "<p>Количество загруженных Чеков можно посмотреть в&nbsp;Личном Кабинете на&nbsp;Сайте Акции</p>",
          isActive: false,
        },
        {
          title: "Как изменить личные данные?",
          text: "<p>Для корректировки личных данных необходимо направить запрос на&nbsp;электронную почту <a href='mailto:info@fruto-promo.ru'>info@<nobr>fruto-promo</nobr>.ru</a></p>",
          isActive: false,
        },
        {
          title: "Какие призы разыгрываются в акции?",
          text: "<p>В&nbsp;акции разыгрываются следующие призы:<br />Гарантированный приз&nbsp;&mdash; Кэшбек 25 (двадцать пять) рублей на&nbsp;мобильный телефон и&nbsp;Доступ к&nbsp;электронному каталогу для скачивания</p><p>Еженедельный приз:<br />o&nbsp;Светильник <nobr>Ночник-проектор</nobr> Star Master &laquo;Звездное небо&raquo;<br />o&nbsp;Рюкзак CROCKID<br />o&nbsp;<nobr>Дом-раскраска</nobr> &laquo;Ракета&raquo;<br />o&nbsp;Мини проектор Lemon Tree Q2<br />o&nbsp;Компактный фотоаппарат Lumicube DK01_<br />o&nbsp;Набор для опытов Bondibon Французские Науки с&nbsp;Буки &laquo;<nobr>Телескоп-рефрактор</nobr><br />o&nbsp;Умная колонка Яндекс. Станция Мини, а&nbsp;также дополнительная денежная часть приза*<br />o&nbsp;Электронный подарочный сертификат Миллион подарков (10&nbsp;000), а&nbsp;также дополнительная денежная часть приза*<br />Главный приз&nbsp;&mdash; Подарочный сертификат на&nbsp;отдых в&nbsp;г.&nbsp;Сочи, номинальной стоимостью 500&nbsp;000&nbsp;рублей, а&nbsp;также дополнительная денежная часть приза*<br /><ul><li>Дополнительная денежная часть, начисляемая величина которой рассчитывается по&nbsp;формуле: D&nbsp;= (F&nbsp;&mdash; 4000&nbsp;руб.) х&nbsp;0,35&times;1/0,65, где D&nbsp;&mdash; искомая сумма, F&nbsp;&mdash; фактическая стоимость вещевой части приза, х&nbsp;&mdash; знак умножения, /&nbsp;&mdash; знак деления. В&nbsp;отношении Победителя Организатор в&nbsp;соответствии с&nbsp;п. 2 ст. 226 НК&nbsp;РФ&nbsp;выполняет функции налогового агента, в&nbsp;связи с&nbsp;чем удерживает и&nbsp;перечисляет в&nbsp;бюджет налог на&nbsp;доходы по&nbsp;ставке, установленной п. 2 ст. 224 НК&nbsp;РФ&nbsp;в&nbsp;размере (35% от&nbsp;стоимости призов, получаемых в&nbsp;проводимых акциях в&nbsp;целях рекламы в&nbsp;части превышения размера необлагаемой суммы, установленной в&nbsp;п. 28 ст. 217 НК&nbsp;РФ&nbsp;в&nbsp;размере 4000&nbsp;рублей 00&nbsp;копеек). Дополнительная денежная часть приза выплачивается Организатором за&nbsp;вычетом удержанного и&nbsp;уплаченного с&nbsp;данной суммы НДФЛ. </li></ul><br />При этом днем исполнения Организатором обязанности по&nbsp;выплате Дополнительной денежной части приза является дата списания денежных средств с&nbsp;расчетного счета Организатора.</p>",
          isActive: false,
        },
        {
          title: "Как зарегистрировать чек?",
          text: "<p>Для загрузки чека необходимо сфотографировать/отсканировать <nobr>QR-код</nobr> оригинала чека<br />Изображение <nobr>QR-кода</nobr> чека должно соответствовать следующим требованиям:<br />&mdash;&nbsp;файл, содержащий изображение <nobr>QR-кода</nobr> чека в&nbsp;допустимых форматах: PNG, JPEG, JPG, GIF, BMP;<br />&mdash;&nbsp;изображение <nobr>QR-кода</nobr> чека должно быть четким и&nbsp;читаемым;<br />&mdash;&nbsp;изображение <nobr>QR-кода</nobr> чека должно быть строго вертикально ориентировано;<br />&mdash;&nbsp;<nobr>QR-код</nobr> чека должен занимать всю область изображения;<br />&mdash;&nbsp;изображение <nobr>QR-кода</nobr> чека не&nbsp;должно содержать посторонние предметы, тени;<br />&mdash;&nbsp;на&nbsp;изображении <nobr>QR-код</nobr> не&nbsp;должен быть мятым, порванным;<br />&mdash;&nbsp;на&nbsp;изображении не&nbsp;должно быть более одного <nobr>QR-кода</nobr>.<br />&mdash;&nbsp;каждый Участник может загрузить на&nbsp;Сайт неограниченное количество чеков в&nbsp;течение 1 (один) календарного дня.</p>",
          isActive: false,
        },
        {
          title: "Нужно ли платить налоги за призы?",
          text: "<p>За&nbsp;призы, стоимость которых не&nbsp;превышает 4000&nbsp;рублей, налог не&nbsp;начисляется.</p><p>В&nbsp;случае, если стоимость приза более 4000&nbsp;рублей, а&nbsp;также приз содержит денежную часть, то&nbsp;она на&nbsp;основании поручения победителя может удерживаться Организатором Акции для уплаты налога с&nbsp;полученного Приза в&nbsp;100% объеме.</p>",
          isActive: false,
        },
        {
          title: "Как узнать, что я выиграл приз?",
          text: "<p>Уведомление о&nbsp;выигрыше Гарантированного, Еженедельного и&nbsp;Главного приза придёт на&nbsp;электронную почту, указанную при регистрации, а&nbsp;также информация будет отображена в&nbsp;Личном Кабинете на&nbsp;Сайте Акции. Дополнительно, список победителей ежедневных и&nbsp;еженедельных розыгрышей будет опубликован на&nbsp;сайте акции.</p>",
          isActive: false,
        },
      ],
    };
  },
  methods: {
    toFeedback() {
      this.$modal.show("feedback");
    },
  },
};
</script>

<style lang="scss" scoped>
.faq {
  background-color: #8accd9;
  padding-top: 55px;
  padding-bottom: 40px;

  &__header {
    display: flex;
    justify-content: center;
  }

  &__title {
    position: relative;
    font-family: "alboroto";
    color: #013f5d;
    font-size: 42px;
    text-align: center;
    margin-bottom: 30px;
  }

  &__star_left {
    position: absolute;
    top: 25px;
    left: -55px;
    width: 43px;
    height: 43px;
    background-image: url("../assets/images/faq/title_star_left.png");
    background-repeat: no-repeat;
    background-size: contain;
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url("../assets/images/faq/title_star_left@2x.png");
    }
  }

  &__star_right {
    position: absolute;
    top: -15px;
    right: -60px;
    width: 49px;
    height: 47px;
    background-image: url("../assets/images/faq/title_star_right.png");
    background-repeat: no-repeat;
    background-size: contain;
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url("../assets/images/faq/title_star_right@2x.png");
    }
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__content {
    flex: 2;
  }

  &__list {
    padding-right: 25px;
    border-right: 4px dotted #fff;
  }

  &__ask {
    flex: 1;
  }

  &__item {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(1, 63, 93, 0.15);
    border-radius: 10px;
    padding: 15px 25px;
    margin-bottom: 12px;
  }

  &__item--active {
    .faq__item-title {
      color: #e50044;
    }
    .faq__item-arrow {
      fill: #e50044;
      transform: rotate(180deg);
    }
  }

  &__item-header {
    cursor: pointer;
    position: relative;
  }

  &__item-title {
    color: #013f5d;
    font-size: 17px;
    transition: color 0.3s ease-in-out;
  }

  &__item-arrow {
    position: absolute;
    top: 7px;
    right: 0;
    transition: all 0.3s ease-in-out;
  }

  &__item-content {
    font-size: 13px;
    margin-top: 20px;
  }

  &__ask {
    position: relative;
    text-align: right;
  }

  &__ask-content {
    position: relative;
    z-index: 1;
  }

  &__ask-title {
    max-width: 175px;
    margin-left: auto;
    text-align: center;
    font-size: 13px;
    margin-bottom: 10px;
  }

  &__rabbit {
    position: absolute;
    top: 0;
    right: -85px;
    width: 447px;
    height: 202px;
    background-image: url("../assets/images/faq/rabbit.png");
    background-repeat: no-repeat;
    background-size: contain;

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url("../assets/images/faq/rabbit@2x.png");
    }
  }

  &__star_top {
    position: absolute;
    top: -100px;
    left: 100px;
    width: 48px;
    height: 46px;
    background-image: url("../assets/images/faq/star_top.png");
    background-repeat: no-repeat;
    background-size: contain;

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url("../assets/images/faq/star_top@2x.png");
    }
  }

  &__star_bottom {
    position: absolute;
    right: 65px;
    bottom: -145px;
    width: 48px;
    height: 46px;
    background-image: url("../assets/images/faq/star_bottom.png");
    background-repeat: no-repeat;
    background-size: contain;

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url("../assets/images/faq/star_bottom@2x.png");
    }
  }

  @media (max-width: 1023px) {
    padding-bottom: 122px;

    &__title {
      line-height: 1.2;
    }

    &__row {
      flex-direction: column;
    }

    &__content {
      flex: 1;
      width: 100%;
    }

    &__list {
      border-right: none;
      padding-right: 0;
    }

    &__ask {
      flex: 1;
      padding-top: 55px;
      margin-left: auto;
    }

    &__rabbit {
      top: 50px;
      right: -100px;
    }

    &__star_top {
      top: 25px;
      left: -30px;
    }

    &__star_bottom {
      right: 50px;
      bottom: -100px;
    }

    &__item {
      padding: 15px 19px;
    }

    &__item-title {
      margin-right: 35px;
    }
  }

  @media (max-width: 415px) {
    &__star_left {
      top: 30px;
      left: 0px;
    }

    &__star_right {
      top: -30px;
      right: -10px;
    }
  }
}
</style>
