<template>
  <div class="home">
    <Hero />
    <Steps />
    <Prizes />
    <Conditions />
  </div>

</template>

<script>
// @ is an alias to /src
import Hero from "@/components/AppHero.vue";
import Steps from "@/components/AppSteps.vue";
import Prizes from "@/components/AppPrizes.vue";
import Conditions from "@/components/AppConditions.vue";

export default {
  name: "Home",
  components: {
    Hero,
    Steps,
    Prizes,
    Conditions
  },
  data: function () {
    return {
      isAnalyticsSent: false,
      checks: [],
      rejectedReceipts: [],
      isAuthenticated: false
    };
  },
  methods: {
    setAnalyticsTimer() {
      setTimeout(() => {
        this.pushAnalyticsEvents()
      }, 15000)
    },

    pushAnalyticsEvents() {
      if (this.isAnalyticsSent) return false;

      let p = {
        type: "VIEW",
        site_id: "7160",
        product_id: "",
        product_price: "",
        category_id: "",
        pixel_id: "123"
      };
      __GetI.push(p);

      gtag('event', 'conversion', {
        'allow_custom_scripts': true,
        'send_to': 'DC-10570616/invmedia/puree0+standard'
      });

      gtag("event", "click", {
        event_category: "15seconds",
        event_label: "15seconds",
      });
    },

    scroll() {
      let scrollHeight = Math.max(
        document.body.scrollHeight, document.documentElement.scrollHeight,
        document.body.offsetHeight, document.documentElement.offsetHeight,
        document.body.clientHeight, document.documentElement.clientHeight
      )
      if (pageYOffset >= (scrollHeight/2)) {
        this.pushAnalyticsEvents()
        this.isAnalyticsSent = true
      }
    }
  },
  mounted() {
    this.setAnalyticsTimer()

    const params = this.$route.query;

    if (params.email === "0") {
      let socId =
        params.identity_vk || params.identity_fb || params.identity_ok || "";

      //console.log(socId);

      if (socId.length < 1) {
        this.$modal.show("common_error", {
          text: "Что-то пошло не так!",
        });
        this.$router.push("/");
      } else {
        this.$store.commit("SIGNUP_SOC_ID", socId);
        this.$modal.show("soc_signup");
        this.$router.push("/");
      }
    } else if (params.result === "1") {
      this.$store.commit("SET_TOKEN", params.auth_key);

      this.$store.dispatch("GetProfile").then(() => {
        this.$router.push("/account/profile");
      });
    }
  },
  created() {
    window.addEventListener('scroll', this.scroll)
  },
  destroyed() {
    window.removeEventListener('scroll', this.scroll)
  },
};
</script>
