<template>
  <div class="launch">
    <div class="container">
      <div class="launch__row">
        <div class="launch__timer">
          <div class="launch__star-top_left"></div>
          <div class="launch__rocket"></div>
          <router-link class="launch__logo" to="/">
            <img
              class="launch__logo-pic"
              alt="Header logo"
              src="../assets/images/logo.svg"
            />
          </router-link>
          <h2 class="launch__timer-title">
            вы сможете загрузить чек <br />
            и поучаствовать в розыгрыше призов через
          </h2>
          <div class="launch__timer-numbers">
            <div class="launch__timer-number">
              <h2>20</h2>
              <p>дней</p>
            </div>
            <div class="launch__timer-number">
              <h2>06</h2>
              <p>часов</p>
            </div>
            <div class="launch__timer-number">
              <h2>48</h2>
              <p>минут</p>
            </div>
          </div>

          <div class="launch__rabbit"></div>
          <div class="launch__star-bottom"></div>
        </div>
        <div class="launch__line"></div>
        <div class="launch__form">
          <div class="launch__star-top_right"></div>
          <h2 class="launch__form-title">
            не упусти шанс выиграть «космические» призы!
          </h2>
          <div class="launch__form-panel">
            <form class="launch__form-inner">
              <inputText
                label="имя"
                color="blue"
                :value="person.name"
                placeholder="имя"
              />
              <inputText
                class="launch__form-email"
                label="e-mail"
                color="blue"
                :value="person.email"
                placeholder="e-mail"
              />
              <button type="submit" class="btn btn--primary">
                хочу участвовать!
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <img
      src="../assets/images/launch/launch_footer_bg.svg"
      alt=""
      class="launch__footer_bg"
    />
  </div>
</template>

<script>
import inputText from "@/components/form/inputText.vue";

export default {
  components: {
    inputText,
  },
  data: function () {
    return {
      person: {
        name: "александра",
        email: "email-example@gmail.com",
      },
    };
  },
  mounted() {
    this.$parent.showHeader = false;
  },
  destroyed() {
    this.$parent.showHeader = true;
  },
};
</script>

<style lang="scss">
.launch {
  position: relative;
  background-color: #8accd9;
  padding-top: 41px;
  padding-bottom: 130px;

  &__star-top_left {
    position: absolute;
    top: 0;
    left: 270px;
    width: 67px;
    height: 67px;
    background-image: url("../assets/images/launch/star_top_left.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url("../assets/images/launch/star_top_left@2x.png");
    }
  }

  &__star-top_right {
    position: absolute;
    top: 50px;
    right: -50px;
    width: 51px;
    height: 53px;
    background-image: url("../assets/images/launch/star_top_right.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url("../assets/images/launch/star_top_right@2x.png");
    }
  }

  &__star-bottom {
    position: absolute;
    left: 400px;
    bottom: 0;
    width: 67px;
    height: 66px;
    background-image: url("../assets/images/launch/star_bottom.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url("../assets/images/launch/star_bottom@2x.png");
    }
  }

  &__rocket {
    position: absolute;
    top: 0;
    right: 470px;
    width: 160px;
    height: 144px;
    background-image: url("../assets/images/launch/rocket.png");
    background-repeat: no-repeat;
    background-size: contain;

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url("../assets/images/launch/rocket@2x.png");
    }
  }

  &__rabbit {
    position: absolute;
    bottom: -71px;
    left: -190px;
    width: 446px;
    height: 191px;
    background-image: url("../assets/images/launch/rabbit.png");
    background-size: contain;
    background-repeat: no-repeat;

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url("../assets/images/launch/rabbit@2x.png");
    }
  }

  &__logo {
    display: block;
    margin-bottom: 30px;
  }

  &__logo-pic {
    width: 128px;
    height: 118px;
  }

  &__row {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
  }

  &__line {
    opacity: 0.4;
    border-right: 3px dashed #ffffff;
    margin: 175px 30px -40px;
  }

  &__timer-title {
    text-align: center;
    color: #013f5d;
    font-size: 20px;
    line-height: 1.3;
  }

  &__timer-numbers {
    display: flex;
  }

  &__timer-number {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-image: url("../assets/images/launch/timer_bg.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: -20px;

    h2 {
      color: #013f5d;
      font-size: 48px;
      line-height: 1.1;
    }

    p {
      font-size: 17px;
      line-height: 1.1;
    }
  }

  &__timer-number:nth-child(2):after {
    content: ":";
    color: #ffffff;
    font-size: 64px;
    position: absolute;
    top: 45px;
    right: 5px;
  }
  &__form {
    margin-top: 45px;

    .btn--primary {
      width: 100%;
    }

    .form__field-input {
      width: 100%;
    }
  }

  &__form-title {
    max-width: 431px;
    text-align: center;
    font-family: "alboroto";
    color: #013f5d;
    font-size: 48px;
    line-height: 1;
    margin-bottom: 25px;
  }

  &__form-panel {
    max-width: 420px;
    position: relative;
    background: #ffffff;
    padding: 60px 55px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.25);
    border-radius: 30px;

    &:before {
      content: "";
      position: absolute;
      top: 16px;
      left: 16px;
      right: 16px;
      bottom: 16px;
      border: 3px dashed #8accd9;
      border-radius: 20px;
    }
  }

  &__form-email {
    .form__field-input {
      text-transform: none;
    }
  }

  &__form-inner {
    position: relative;
    z-index: 1;
  }

  &__footer_bg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: none;
    width: 100%;
  }

  @media (max-width: 1023px) {
    padding-top: 17px;
    padding-bottom: 90px;
    margin-bottom: 100px;

    &__row {
      flex-direction: column;
      align-items: center;
    }

    &__logo-pic {
      width: 79px;
      height: 72px;
      margin: 0 auto;
    }

    &__timer-title {
      max-width: 345px;
      font-size: 17px;
    }

    &__star-top_left {
      top: 10px;
      left: inherit;
      right: 10px;
      width: 32px;
      height: 31px;
    }

    &__star-top_right {
      width: 29px;
      height: 31px;
      top: 320px;
      right: inherit;
      left: -7px;
    }

    &__line {
      width: 100%;
      border-right: none;
      border-top: 3px dashed #ffffff;
      margin: 27px 0 15px;
    }

    &__star-bottom {
      // display: none;
    }

    &__timer-numbers {
      justify-content: center;
    }

    &__timer-number {
      width: 135px;
      height: 135px;

      h2 {
        font-size: 36px;
      }

      p {
        font-size: 13px;
      }
    }

    &__timer-number:nth-child(2):after {
      font-size: 40px;
      top: 35px;
      right: 7px;
    }

    &__rocket {
      width: 100px;
      height: 100px;
      top: 287px;
      right: 50%;
      margin-right: -50px;
    }

    &__form-panel {
      padding: 40px;
    }

    &__form-title {
      font-size: 30px;
      margin-bottom: 15px;
    }

    &__rabbit {
      width: 337px;
      height: 144px;
      left: -110px;
      bottom: -173px;
    }
  }
}
</style>
