<template>
  <div class="winners">
    <div class="container">
      <div class="winners__header">
        <h2 class="winners__title">Победители</h2>
      </div>
      <Tabs :links="navLinks">
        <template v-slot:content>
          <Table :thead="['№', 'email', 'дата розыгрыша', 'приз']">
            <template v-slot:tbody>
              <tr v-for="(item, index) in winners" :key="index">
                <td>{{ index + 1 }}</td>
                <td>
                  {{ item.email }}
                  <div class="winners__mobile-only">{{ item.date }}</div>
                  <div class="winners__mobile-only">{{ item.prize }}</div>
                </td>
                <td>
                  {{ item.date }}
                </td>
                <td class="winners__desktop-only">
                  {{ item.prize }}
                </td>
                <!--<td v-for="(td, index) in item" :key="'td' + index">
                  {{ td }}
                </td>-->
              </tr>
            </template>
          </Table>
        </template>
      </Tabs>
    </div>
  </div>
</template>

<script>
import Tabs from "@/components/Tabs.vue";
import Table from "@/components/Table.vue";
import axios from "axios";

export default {
  components: {
    Tabs,
    Table,
  },
  data: function () {
    return {
      navLinks: [
        {
          value: "еженедельный розыгрыш",
          href: "winners",
        },
        /*{
          value: "главный приз",
          href: "prize",
        },*/
      ],
      tbody: [
        [
          "1",
          "Ольга",
          "15 августа 2021 г.",
          "космо-рюкзак",
          "+7 (***) ***-20-30",
        ],
        [
          "2",
          "Александра",
          "15 августа 2021 г.",
          "мультимедийный проектор",
          "+7 (***) ***-63-36",
        ],
        [
          "3",
          "константин",
          "15 августа 2021 г.",
          "детский фотоаппарат lumicam",
          "+7 (***) ***-00-48",
        ],
        [
          "4",
          "олеся",
          "15 августа 2021 г.",
          "яндекс-станция мини",
          "+7 (***) ***-09-11",
        ],
        [
          "5",
          "владимир",
          "15 августа 2021 г.",
          "детский телескоп",
          "+7 (***) ***-73-07",
        ],
        [
          "6",
          "валентина",
          "15 августа 2021 г.",
          "раскраска дом-ракета",
          "+7 (***) ***-07-15",
        ],
        [
          "7",
          "елена",
          "15 августа 2021 г.",
          "сертификат ozon на 10 000 рублей",
          "+7 (***) ***-99-55",
        ],
        [
          "8",
          "маргарита",
          "15 августа 2021 г.",
          "светильник ночник-проектор",
          "+7 (***) ***-35-80",
        ],
        [
          "1",
          "Ольга",
          "15 августа 2021 г.",
          "космо-рюкзак",
          "+7 (***) ***-20-30",
        ],
        [
          "2",
          "Александра",
          "15 августа 2021 г.",
          "мультимедийный проектор",
          "+7 (***) ***-63-36",
        ],
        [
          "3",
          "константин",
          "15 августа 2021 г.",
          "детский фотоаппарат lumicam",
          "+7 (***) ***-00-48",
        ],
        [
          "4",
          "олеся",
          "15 августа 2021 г.",
          "яндекс-станция мини",
          "+7 (***) ***-09-11",
        ],
        [
          "5",
          "владимир",
          "15 августа 2021 г.",
          "детский телескоп",
          "+7 (***) ***-73-07",
        ],
        [
          "6",
          "валентина",
          "15 августа 2021 г.",
          "раскраска дом-ракета",
          "+7 (***) ***-07-15",
        ],
        [
          "7",
          "елена",
          "15 августа 2021 г.",
          "сертификат ozon на 10 000 рублей",
          "+7 (***) ***-99-55",
        ],
        [
          "8",
          "маргарита",
          "15 августа 2021 г.",
          "светильник ночник-проектор",
          "+7 (***) ***-35-80",
        ],
      ],
      winners: [],
    };
  },

  methods: {},
  mounted() {
    this.$store.dispatch("GetWinners").then((response) => {
      this.winners = response.result;
    });
  },
};
</script>

<style lang="scss">
.winners {
  background-color: #8accd9;
  padding-top: 55px;
  padding-bottom: 58px;

  .container {
    position: relative;
  }

  & .table {
    @media (max-width: 767px) {
      display: block;
      padding: 10px 0;
    }
  }

  & .table__inner {
    @media (max-width: 767px) {
      min-width: 0;
      width: 100%;
      padding-right: 5px;
    }

    tr td {
      &:nth-child(3) {
        @media (max-width: 767px) {
          display: none;
        }
      }
    }

    th {
      display: table-cell;

      &:nth-child(2),
      &:nth-child(3) {
        @media (max-width: 767px) {
          display: none;
        }
      }
    }
  }

  &__title {
    position: absolute;
    top: 0;
    left: 180px;
    display: inline-block;
    color: #013f5d;
    font-family: "alboroto";
    font-size: 42px;
    line-height: 1;
  }

  &__title:before {
    position: absolute;
    top: 10px;
    left: -55px;
    content: "";
    width: 43px;
    height: 43px;
    background-image: url("../assets/images/winners/star_left.png");
    background-repeat: no-repeat;
    background-size: contain;

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url("../assets/images/winners/star_left@2x.png");
    }
  }

  &__mobile-only {
    display: none;

    @media (max-width: 767px) {
      display: block;
    }
  }

  &__desktop-only {
    display: block;

    @media (max-width: 767px) {
      display: none;
    }
  }

  &__title:after {
    position: absolute;
    top: -30px;
    right: -60px;
    content: "";
    width: 49px;
    height: 47px;
    background-image: url("../assets/images/winners/star_right.png");
    background-repeat: no-repeat;
    background-size: contain;

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url("../assets/images/winners/star_right@2x.png");
    }
  }

  .tabs__header {
    margin-right: -360px;
  }

  @media (max-width: 1216px) {
    &__title {
      left: 125px;
    }
  }

  @media (max-width: 1024px) {
    &__header {
      text-align: center;
    }

    &__title {
      position: relative;
      left: 0;
      margin-bottom: 30px;
    }

    .tabs__header {
      margin-right: 0;
    }
  }
}
</style>
