<template>
  <div id="apm-widget"></div>
</template>

<script>
export default {
  name: "Apmcheck",

  data() {
    return {
      ready: false,
    };
  },

  methods: {},

  mounted() {
    this.ready = true;

    const t = this;

    //console.log("apm");

    const widgetParams = {
      api: "https://api.apmcheck.ru",
      apiKey: "6e669752-43ce-4d97-b9c8-7f5dea9cbdec",
      userUuid: this.$store.getters.user.profile.userUuid,
      callbacks: {
        onReceiptSentSuccess: function () {
          t.$root.$emit("onCheckSended");
        },
      },
    };

    window.qrWidget.init("apm-widget", widgetParams);
  },

  components: {},
};
</script>

<style lang="scss">
#apm-widget {
  left: -100%;
  position: absolute;
}
#apm-modal {
  .apm-qr-video {
    border: 0;
  }

  .apm-modal-content {
    border: 0;
    overflow: hidden;
    background-color: #8accd9;
    border-radius: 25px;
    padding: 3rem 4rem;
    font-family: "a_futuraroundbold" !important;
  }
  .apm-modal-dialog {
    max-width: 42rem;
    font-family: "a_futuraroundbold" !important;
  }
  .apm-title {
    color: #013f5d;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    font-family: "a_futuraroundbold" !important;
  }

  #apm-close-widget-button {
    cursor: pointer;
    position: absolute;
    top: -32px;
    right: -32px;
    width: 96px;
    height: 96px;
    background-image: url(/img/close_icon.eaa98a85.svg);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 24px 48px;
    background-color: #d6edf2;
    border-radius: 50%;
    max-height: none;
    max-width: none;
    outline: 0;

    &:before,
    &:after {
      display: none;
    }
  }

  .apm-photo-thumbnail-image {
    object-fit: contain;
  }

  .apm-photo-thumbnail-wrapper {
    margin-top: 40px;
    border: 2px solid #013f5d;
    border-radius: 15px;
  }

  .apm-remove-photo-button {
    background-color: #e50044;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #013f5d;
    }
  }

  .apm-btn {
    color: #fff;
    font-size: 13px;
    line-height: 1.6;
    text-transform: uppercase;
    background: #e50044;
    border-radius: 40px;
    padding: 12px 23px;
    border: 2px solid #e50044;
    transition: all 0.3s ease-in-out;

    .btn-content {
      color: #ffffff;
      font-family: "a_futuraroundbold" !important;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      color: #e50044;
      background: transparent;

      .btn-content {
        color: #e50044 !important;
      }
    }
  }

  .apm-p-input {
    font-family: "a_futuraroundbold" !important;
  }

  .apm-block-qr-video {
    margin-bottom: 2.5rem;
  }
  .apm-qr-input {
    margin: 0.5rem auto 0 auto;
    font-size: 13px;
    background: #ffffff;
    border: 2px solid #fff;
    border-radius: 40px;
    padding: 8px 18px 7px;
    transition: all 0.3s ease-in-out;
    font-family: "a_futuraroundbold" !important;
  }
  .apm-p-input {
    text-align: center;
  }
  .apm-action-button {
    // text-align: center;
    // margin: 0 auto;
    // display: block;
    // cursor: pointer;
    // transition: all 0.3s ease-in-out;
    // color: #FFFFFF !important;
    // font-size: 13px;
    // line-height: 1.6;
    // text-transform: uppercase;
    // background: #E50044;
    // border-radius: 40px;
    // padding: 13px 23px 11px;
    // border: 2px solid #E50044;
    // font-family: "a_futuraroundbold" !important;

    box-shadow: none;
    margin: 0 auto;
    color: #fff;
    font-size: 13px;
    line-height: 1.6;
    text-transform: uppercase;
    background: #e50044;
    border-radius: 40px;
    padding: 12px 23px;
    border: 2px solid #e50044;
    transition: all 0.3s ease-in-out;

    .btn-content,
    .apm-qr-btn-text {
      font-family: "a_futuraroundbold";
      transition: all 0.3s ease-in-out;
      // color: #FFFFFF;
      // font-family: "a_futuraroundbold" !important;
    }

    &:hover {
      color: #e50044;
      background: transparent;

      .btn-content {
        color: #e50044 !important;
      }

      .apm-qr-btn-text {
        color: #e50044;
      }
    }
  }
  .apm-p {
    color: #013f5d;
    font-family: "a_futuraroundbold" !important;
    padding-bottom: 1.3rem;
  }
  .apm-img-error {
    display: none;
  }
}
</style>
