<template>
  <div class="conditions">
    <img
      :src="require('../assets/images/conditions_bg.svg')"
      alt=""
      class="conditions__bg"
    />
    <div class="container">
      <div class="conditions__decor_right"></div>
      <h1 class="conditions__title">
        принять участие в&nbsp;акции
        <span
          >можно, купив любое фруктовое пюре в&nbsp;пауче ФрутоНяня
          от&nbsp;5шт</span
        >
      </h1>
      <div class="conditions__list">
        <div
          @click="prevSlide"
          class="conditions__arrow conditions__arrow--prev"
        ></div>
        <swiper class="swiper" ref="conditions_swiper" :options="swiperOption">
          <swiper-slide v-for="(item, index) in conditions" :key="index">
            <div class="conditions__item">
              <div class="conditions__item-inner">
                <div class="conditions__item-holder">
                  <img :src="item.img" alt="" class="conditions__item-img" />
                  <div class="conditions__item-amount">{{ item.amount }}</div>
                </div>
                <div class="conditions__item-title" v-html="item.title"></div>
              </div>
            </div>
          </swiper-slide>
          <div
            class="swiper-pagination swiper-pagination-white"
            slot="pagination"
          ></div>
        </swiper>
        <div
          @click="nextSlide"
          class="conditions__arrow conditions__arrow--next"
        ></div>
      </div>
    </div>
    <!--<div class="conditions__caption">
      *в акции не принимает участие молочная продукция фрутоняня
    </div>-->
  </div>
</template>

<script>
import { Swiper, SwiperSlide } from "vue-awesome-swiper";
import "swiper/css/swiper.css";

export default {
  components: {
    Swiper,
    SwiperSlide,
  },
  data: function () {
    return {
      swiperOption: {
        slidesPerView: 1,
        spaceBetween: 15,
        pagination: {
          el: ".swiper-pagination",
          type: "bullets",
        },
        breakpoints: {
          1024: {
            slidesPerView: 3,
          },
          767: {
            slidesPerView: 2,
          },
          //   320: {
          //     slidesPerView: 1,
          //     spaceBetween: 10
          //   }
        },
      },
      conditions: [
        {
          img: require("../assets/images/conditions_1.png"),
          amount: "90 г",
          title:
            "пюре из&nbsp;яблок и&nbsp;черники с&nbsp;печеньем<br/>" +
            "для питания детей раннего возраста",
        },
        {
          img: require("../assets/images/conditions_3.png"),
          amount: "90 г",
          title:
            "пюре из&nbsp;яблок с&nbsp;печеньем &laquo;шарлотка&raquo;<br/>" +
            "для питания детей раннего возраста",
        },
        {
          img: require("../assets/images/conditions_2.png"),
          amount: "90 г",
          title:
            "пюре из&nbsp;яблок, бананов и&nbsp;груш с&nbsp;печеньем<br/>" +
            "для питания детей раннего возраста",
        },
        {
          img: require("../assets/images/conditions_4.png"),
          amount: "90 г",
          title:
            "пюре яблочное натуральное<br/>" +
            "для питания детей раннего возраста",
        },
        {
          img: require("../assets/images/conditions_5.png"),
          amount: "90 г",
          title:
            "пюре из&nbsp;яблок, бананов и&nbsp;клубники<br/>" +
            "для питания детей раннего возраста",
        },
        {
          img: require("../assets/images/conditions_6.png"),
          amount: "90 г",
          title:
            "пюре яблочно-банановое с&nbsp;творогом<br />\n" +
            "для питания детей раннего возраста",
        },
        {
          img: require("../assets/images/conditions_7.png"),
          amount: "90 г",
          title:
            "пюре из&nbsp;яблок и&nbsp;абрикосов со&nbsp;сливками<br />\n" +
            "для питания детей раннего возраста",
        },
        {
          img: require("../assets/images/conditions_8.png"),
          amount: "90 г",
          title:
            "пюре из&nbsp;яблок, чёрной и&nbsp;красной смородины &laquo;салатик со&nbsp;смородиной&raquo;<br />\n" +
            "для питания детей раннего возраста",
        },
        {
          img: require("../assets/images/conditions_9.png"),
          amount: "90 г",
          title:
            "пюре из&nbsp;яблок, клубники и&nbsp;малины<br />" +
            "для питания детей раннего возраста",
        },
        {
          img: require("../assets/images/conditions_10.png"),
          amount: "90 г",
          title:
            "пюре из&nbsp;яблок и&nbsp;малины с&nbsp;творогом<br />" +
            "для питания детей раннего возраста",
        },
        {
          img: require("../assets/images/conditions_11.png"),
          amount: "90 г",
          title:
            "пюре фруктовое &laquo;салатик из&nbsp;фруктов&raquo; (4&nbsp;фрукта)<br />" +
            "для питания детей раннего возраста",
        },
        {
          img: require("../assets/images/conditions_12.png"),
          amount: "90 г",
          title:
            "пюре из&nbsp;яблок, малины и&nbsp;ежевики с&nbsp;&laquo;мюсли&raquo;<br />" +
            "для питания детей раннего возраста",
        },
        {
          img: require("../assets/images/conditions_14.png"),
          amount: "90 г",
          title:
            "пюре из&nbsp;яблок, шиповника и&nbsp;клюквы &laquo;витаминный салатик&raquo;<br />" +
            "для питания детей раннего возраста",
        },
        {
          img: require("../assets/images/conditions_15.png"),
          amount: "90 г",
          title:
            "пюре грушевое натуральное<br />" +
            "для питания детей раннего возраста",
        },
        {
          img: require("../assets/images/conditions_16.png"),
          amount: "90 г",
          title:
            "пюре из&nbsp;яблок, груш, бананов и&nbsp;персиков с&nbsp;йогуртом<br />" +
            "для питания детей раннего возраста",
        },
        {
          img: require("../assets/images/conditions_17.png"),
          amount: "90 г",
          title:
            "пюре из&nbsp;яблок и&nbsp;манго с&nbsp;йогуртом<br />" +
            "для питания детей раннего возраста",
        },
        {
          img: require("../assets/images/conditions_18.png"),
          amount: "90 г",
          title:
            "десерт из&nbsp;яблок, вишни, рябины черноплодной и&nbsp;смородины чёрной<br />" +
            "для питания детей раннего возраста",
        },
        {
          img: require("../assets/images/conditions_19.png"),
          amount: "90 г",
          title:
            "пюре яблочно-грушевое с&nbsp;творогом<br />" +
            "для питания детей раннего возраста",
        },
      ],
    };
  },
  methods: {
    nextSlide() {
      this.$refs.conditions_swiper.$swiper.slideNext();
    },
    prevSlide() {
      this.$refs.conditions_swiper.$swiper.slidePrev();
    },
  },
};
</script>

<style lang="scss">
.conditions {
  position: relative;
  overflow: hidden;
  padding-top: 40px;
  padding-bottom: 58px;
  background: #e50044;

  &__decor_right {
    position: absolute;
    top: 0;
    left: -70px;
    width: 137px;
    height: 163px;
    background-image: url("../assets/images/conditions_decor.svg");
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .swiper-container {
    // padding: 40px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    height: auto;
  }

  .swiper-pagination-bullet {
    opacity: 1;
    width: 9px;
    height: 9px;
    background-color: #e5e5e5;
  }

  .swiper-pagination-bullet-active {
    background-color: #013f5d;
  }

  &__arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -38px;
    background-image: url("../assets/images/slider_arrow.svg");
    width: 33px;
    height: 26px;
  }

  &__arrow--prev {
    left: -6px;
  }

  &__arrow--next {
    right: -6px;
    transform: rotate(180deg);
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  &__title {
    text-align: center;
    font-family: "alboroto";
    font-size: 56px;
    line-height: 1;
    margin-bottom: 30px;

    span {
      display: block;
      font-size: 32px;
    }
  }

  &__list {
    position: relative;
    max-width: 1038px;
    padding: 0 60px;
    margin: 0 auto;
  }

  &__item {
    height: 100%;
  }

  &__item-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 30px 25px 30px;
    background: #ffffff;
    border-radius: 30px;
    // box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.25);
  }

  &__item-holder {
    position: relative;
    margin-bottom: 25px;
  }

  &__item-amount {
    position: absolute;
    right: -12px;
    bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 64px;
    height: 64px;
    background: #d6edf2;
    border-radius: 50%;
  }
  &__item-img {
    max-width: 100%;
    height: auto;
    margin: auto;
  }

  &__item-title {
    margin-top: auto;
    text-align: center;
    font-size: 13px;
  }

  &__caption {
    position: absolute;
    right: 40px;
    bottom: 40px;
    width: 195px;
    text-align: right;
    color: #ffffff;
    font-size: 15px;
  }
  @media (max-width: 1280px) {
    padding-bottom: 100px;
  }

  @media (max-width: 1110px) {
    &__list {
      max-width: 818px;
    }
  }

  @media (max-width: 1023px) {
    padding-top: 10px;
    padding-bottom: 60px;
    &__title {
      font-size: 40px;

      span {
        font-size: 20px;
      }
    }

    &__caption {
      font-size: 10px;
      right: 20px;
      bottom: 20px;
    }

    &__item-title {
      margin-top: 0;
    }

    &__arrow--prev {
      left: 0;
    }
    &__arrow--next {
      right: 0;
    }

    &__decor_right {
      display: none;
    }
  }
}
</style>
