<template>
  <footer class="footer">
    <div class="container">
      <div class="footer__row">
        <div class="footer__content">
          <div class="footer__nav">
            <a
              class="footer__nav-link"
              :href="`${publicPath}user_agreement.pdf`"
              target="_blank"
            >
              пользовательское соглашение
            </a>
            <a
              class="footer__nav-link"
              :href="`${publicPath}rules.pdf`"
              target="_blank"
            >
              правила акции
            </a>
            <a class="footer__nav-link" href="" @click.prevent="toFeedback()"
              >обратная связь</a
            >
          </div>
          <p class="footer__text">
            Общий срок акции с&nbsp;20.06.2021&nbsp;г.&nbsp;по&nbsp;29.04.2022&nbsp;г., включая срок на&nbsp;выполнение условий акции с&nbsp;20.06.2021&nbsp;г.&nbsp;по&nbsp;20.10.2021&nbsp;г. Информацию об&nbsp;организаторе акции, правилах ее&nbsp;проведения, количестве призов, сроках, месте и&nbsp;порядке их&nbsp;получения можно узнать на&nbsp;сайте fruto-promo.ru. Территория проведения акции&nbsp;&mdash; российская федерация.
          </p>
        </div>
        <div class="footer__social">
          <a
            href="https://vk.com/official_frutonyanya"
            class="footer__social-link"
            target="_blank"
          >
            <img
              class="footer__social-pic"
              alt="Header logo"
              src="../assets/images/vk.svg"
            />
          </a>
          <a
            href="https://ok.ru/frutonyanya"
            class="footer__social-link"
            target="_blank"
          >
            <img
              class="footer__social-pic"
              alt="Header logo"
              src="../assets/images/ok.svg"
            />
          </a>
        </div>
      </div>
    </div>
  </footer>
</template>
<script>
export default {
  data() {
    return {
      publicPath: process.env.BASE_URL,
    };
  },
  methods: {
    toFeedback() {
      this.$modal.show("feedback");
    },
  },
};
</script>
<style scoped lang="scss">
.footer {
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: left;
  background: #ffffff;

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    max-width: 852px;
    margin-right: 60px;
  }

  &__nav {
    display: flex;
    margin-bottom: 20px;
  }

  &__nav-link {
    font-size: 13px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #013f5d;
    margin-right: 40px;
  }

  &__nav-link:last-child {
    margin-right: 0;
  }

  &__nav-link:hover {
    text-decoration: none;
  }

  &__text {
    color: #49829e;
    font-size: 11px;
    line-height: 15px;
  }

  &__social {
    display: flex;
  }

  &__social-link {
    display: flex;
    width: 42px;
    height: 42px;
    background: #013f5d;
    border-radius: 50%;
    margin-left: 12px;
  }

  &__social-link:first-child {
    margin-left: 0;
  }

  &__social-pic {
    margin: auto;
  }

  @media (max-width: 1023px) {
    &__row {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    &__content {
      max-width: 100%;
      margin-right: 0;
    }

    &__social {
      order: -1;
      margin-bottom: 20px;
    }

    &__nav {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__nav-link {
      margin: 0 15px;
    }

    &__nav-link:last-child {
      margin-right: 15px;
    }
  }
}
</style>
