/* eslint-disable */
<template>
  <div class="hero">
    <div class="container">
      <div class="hero__pack_back"></div>
      <div class="hero__pack_front"></div>
      <div class="hero__rabbit"></div>
      <div class="hero__star_top_left"></div>
      <div class="hero__star_center"></div>
      <div class="hero__decor_right"></div>
      <div class="hero__content">
        <div class="hero__title">выигрывайте «космические» призы!</div>
        <button
          class="btn btn--primary btn--lg"
          @click.prevent="toCheckUpload()"
        >
          зарегистрировать чек
        </button>
      </div>
      <div class="hero__message"></div>
      <div class="hero__child_bg_item">
        <img src="@/assets/img/child-hero2.png" alt="" />
      </div>
    </div>
    <img
      class="hero__bottom"
      src="../assets/images/hero/bottom_bg.svg"
      alt=""
    />
  </div>
</template>

<script>
export default {
  components: {
    // Feedback,
  },
  methods: {
    showModal(name) {
      this.$modal.show(name);
    },

    toCheckUpload() {
      gtag("event", "click", {
        event_category: "internal",
        event_label: "receipt_button",
      });

      this.$modal.show("action_ended_modal");
      /*
      if (this.$store.getters.user) {
        let apmButton = document.querySelector(
          "#apm-scan-qr .apm-action-button"
        );
        if (apmButton) apmButton.click();
      } else {
        this.$modal.show("authorization");
      }

       */
    },
  },
};
</script>
<style lang="scss" scoped>
.hero {
  font-size: 10px;
  position: relative;
  z-index: 9;
  padding-top: 65px;
  text-align: center;
  background: #8accd9;
  min-height: calc(100vh - 71px);

  .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 71px - 65px);
    padding-bottom: 24rem;
    // padding-bottom: 240px;
    // padding-bottom: 270px;
    // padding-bottom: 180px;
  }

  &__content {
    position: relative;
    z-index: 1;
  }

  &__title {
    font-family: "alboroto";
    font-size: 6.4rem;
    line-height: 1.2;
    max-width: 40rem;
    margin: 0 auto 10px;
  }

  &__pack_front {
    z-index: 9;
    position: absolute;
    left: -8rem;
    bottom: -10rem;
    width: 33.2rem;
    height: 47.9rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/images/hero/pack_front.png");
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url("../assets/images/hero/pack_front@2x.png");
    }
  }

  &__pack_back {
    z-index: 9;
    position: absolute;
    left: 6rem;
    bottom: -3rem;
    width: 34.1rem;
    height: 45.2rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/images/hero/pack_back.png");
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url("../assets/images/hero/pack_back@2x.png");
    }
  }

  &__message {
    position: absolute;
    left: 360px;
    bottom: 45px;
    z-index: 9;
    width: 20.2rem;
    height: 15.2rem;
    background-image: url("../assets/images/hero/message.png");
    background-size: contain;
    background-repeat: no-repeat;

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url("../assets/images/hero/message@2x.png");
    }
  }

  &__child_bg_item {
    position: absolute;
    // top: 40px;
    right: -2rem;
    bottom: 3rem;
    width: 38rem;
    height: 55rem;
    transform: rotate(-13deg);

    img {
      width: 100%;
    }
  }

  &__bottom {
    max-width: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }

  &__rabbit {
    position: absolute;
    top: 1rem;
    left: -13rem;
    width: 35.4rem;
    height: 15rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/images/hero/rabbit.png");

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url("../assets/images/hero/rabbit@2x.png");
    }
  }

  &__star_top_left {
    position: absolute;
    top: 0;
    left: 27rem;
    width: 6.6rem;
    height: 6.6rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/images/hero/star_top_left.png");

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url("../assets/images/hero/star_top_left@2x.png");
    }
  }

  &__star_center {
    position: absolute;
    right: 41.5rem;
    bottom: 15rem;
    width: 6.6rem;
    height: 6.6rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/images/hero/star_center.png");

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url("../assets/images/hero/star_center@2x.png");
    }
  }

  &__decor_right {
    position: absolute;
    top: 0;
    right: -15rem;
    width: 18.8rem;
    height: 21rem;
    background-image: url("../assets/images/hero/decor_right.png");
    background-size: contain;
    background-repeat: no-repeat;

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url("../assets/images/hero/decor_right@2x.png");
    }
  }

  @media (max-width: 1023px) {
    min-height: calc(100vh - 50px - 110px);
    padding-top: 30px;

    .container {
      max-width: 375px;
      padding-bottom: 360px;
      min-height: calc(100vh - 80px - 110px);
    }

    &__title {
      max-width: 199px;
      font-size: 32px;
    }

    &__child_bg_item {
      top: inherit;
      right: -50px;
      bottom: 1.5rem;
      width: 227px;
      height: 306px;
    }

    &__pack_front {
      left: -5px;
      bottom: -80px;
      width: 152px;
      height: 241px;
    }

    &__pack_back {
      left: 50px;
      width: 171px;
      height: 238px;
    }

    &__message {
      left: 20px;
      bottom: 200px;
      width: 167px;
      height: 126px;
    }

    &__rabbit {
      display: none;
    }

    &__star_top_left {
      top: 55px;
      left: 25px;
      width: 32px;
      height: 31px;
    }

    &__decor_right {
      top: 65px;
      right: -25px;
      width: 100px;
      height: 143px;
    }
    &__star_center {
      display: none;
    }
  }

  @media screen and (min-height: 730px) and (min-width: 1200px) {
    &__child_bg_item {
      right: -7rem;
    }

    &__decor_right {
      right: -17rem;
    }

    &__pack_back {
      left: -3rem;
    }

    &__pack_front {
      left: -15rem;
    }

    &__star_center {
      right: 33rem;
    }

    &__star_top_left {
      left: 16rem;
    }

    &__rabbit {
      top: 4rem;
      left: -23rem;
    }
  }

  @media screen and (min-height: 950px) and (min-width: 1200px) {
    &__child_bg_item {
      right: -15rem;
    }

    &__decor_right {
      right: -30rem;
    }

    &__pack_back {
      left: -7rem;
    }

    &__pack_front {
      left: -19rem;
    }

    &__message {
      bottom: 6rem;
    }

    &__rabbit {
      top: 2rem;
      left: -29rem;
    }

    &__star_center {
      right: 31.5rem;
      bottom: 16rem;
    }

    &__star_top_left {
      top: 3rem;
      left: 12rem;
    }
  }

  @media (min-height: 1100px) {
    min-height: 900px;

    .container {
      min-height: 900px;
    }
  }
}
</style>
