<template>
  <header class="header">
    <div class="container">
      <div class="header__inner">
        <router-link class="header__logo" to="/">
          <span class="header__logo-ellipse"></span>
          <img
            class="header__logo-pic"
            alt="Header logo"
            src="../assets/images/logo.svg"
          />
        </router-link>
        <div class="header__hamburger" @click="showBurger()">
          <img
            src="../assets/images/hamburger_icon.svg"
            alt=""
            class="header__hamburger-pic"
          />
        </div>
        <div class="header__nav">
          <a
            href="#"
            class="header__nav-link header__nav-link--accent"
            active-class="header__nav-link--active"
            @click="clickPrize()"
          >
            гарантированный приз
          </a>
          <router-link
            class="header__nav-link"
            active-class="header__nav-link--active"
            to="/cards"
            @click.native="clickCards()"
          >
            космические открытки
          </router-link>
          <router-link
            class="header__nav-link"
            :to="{ name: 'Home', hash: '#prizes' }"
          >
            призы
          </router-link>
          <router-link class="header__nav-link" to="/winners">
            победители
          </router-link>
          <router-link
            class="header__nav-link"
            active-class="header__nav-link--active"
            to="/faq"
          >
            FAQ
          </router-link>
          <router-link
            class="header__nav-link"
            active-class="header__nav-link--active"
            to="/account/profile"
            v-if="user"
          >
            личный кабинет
          </router-link>
          <a
            class="header__nav-link"
            href="javascript:void(0)"
            @click="showModal('authorization')"
            v-else
            >личный кабинет</a
          >
          <a
            v-if="user"
            href=""
            @click.prevent="logout()"
            class="header__nav-link"
            >Выход</a
          >
        </div>
      </div>

      <div class="header__menu_mob">
        <button class="header__menu_mob-close" @click="showBurger()"></button>
        <router-link
          class="btn btn--primary"
          to="/cards"
          @click.native="clickCards()"
        >
          космические открытки
        </router-link>

        <div class="star-top"></div>
        <div class="star-bottom-right"></div>
        <div class="star-bottom-left"></div>
        <a
          href="#"
          class="btn btn--primary btn--lg"
          active-class="header__nav-link--active"
          @click="clickPrize()"
        >
          гарантированный приз
        </a>
        <router-link
          class="btn btn--default"
          :to="{ name: 'Home', hash: '#prizes' }"
        >
          призы
        </router-link>
        <router-link class="btn btn--default" to="/winners">
          победители
        </router-link>
        <router-link class="btn btn--default" to="/faq"> faq </router-link>
        <router-link
          class="btn btn--secondary"
          to="/account/profile"
          v-if="user"
          @click.native="clickProfile()"
        >
          личный кабинет
        </router-link>
        <a
          class="btn btn--secondary"
          href="javascript:void(0)"
          v-else
          @click="clickProfile()"
          >личный кабинет</a
        >
        <a
          v-if="user"
          href=""
          @click.prevent="logout()"
          class="btn btn--default"
          >Выход</a
        >
      </div>
    </div>
  </header>
</template>

<script>
export default {
  computed: {
    user() {
      return this.$store.getters.user;
    },
  },

  methods: {
    clickProfile() {
      this.showModal("authorization");

      gtag("event", "click", {
        event_category: "internal",
        event_label: "cabinet_button",
      });
    },

    clickCards() {
      gtag("event", "click", {
        event_category: "internal",
        event_label: "editor_button",
      });
    },

    clickPrize() {
      gtag("event", "click", {
        event_category: "internal",
        event_label: "guaranteed_prize_button",
      });

      this.$modal.show("action_ended_modal");
    },

    showModal(name) {
      this.$modal.show(name);
    },
    logout() {
      this.$store.dispatch("LogOut");
      document.location.reload();
    },
    showBurger() {
      let header = document.querySelector(".header");
      if (!header.classList.contains("header--mob_active"))
        header.classList.add("header--mob_active");
      else header.classList.remove("header--mob_active");
    },
  },
};
</script>

<style scoped lang="scss">
.header {
  position: relative;
  z-index: 99;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

  &.header--mob_active {
    .header__hamburger {
      opacity: 0;
      visibility: hidden;
    }

    .header__menu_mob {
      display: flex;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    position: relative;
    z-index: 9;
    width: 142px;
    height: 142px;
    display: flex;
    background: #69b0be;
    border-radius: 50%;
    margin-top: -11px;
    margin-left: -22px;
    margin-bottom: -60px;
  }

  &__logo-ellipse {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #8accd9;
    border-radius: 50%;
    width: 142px;
    height: 142px;
    transform: translate(0, -5px);
  }

  &__logo-pic {
    position: relative;
    width: 104px;
    height: 96px;
    z-index: 9;
    margin: auto;
  }

  &__nav {
    padding: 18px 0;
  }

  &__nav-link {
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
  }

  &__nav-link--active {
    color: #e50044;
  }

  &__nav-link--accent {
    color: #ffffff;
    background: #e50044;
    border: 2px solid #e50044;
    border-radius: 40px;
    padding: 9px 23px 8px;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
  }

  &__nav-link--accent:hover {
    color: #e50044;
    background: transparent;
  }

  &__nav-link:hover {
    color: #e50044;
  }

  &__hamburger {
    display: none;
  }

  &__menu_mob {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding-top: 72px;
    padding-bottom: 60px;

    .btn--default {
      background-color: transparent;
    }

    .btn {
      margin-bottom: 21px;
      min-width: 280px;
    }

    .btn:last-child {
      margin-top: 20px;
    }

    .star-top {
      position: absolute;
      top: 0;
      right: 30%;
      width: 41px;
      height: 42px;
      background-image: url("../assets/images/mob_menu_star_top.png");
      background-repeat: no-repeat;
      background-size: contain;

      @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
        background-image: url("../assets/images/mob_menu_star_top@2x.png");
      }
    }

    .star-bottom-right {
      position: absolute;
      right: 5%;
      bottom: 20px;
      width: 45px;
      height: 45px;
      background-image: url("../assets/images/mob_menu_star_bottom_right.png");
      background-repeat: no-repeat;
      background-size: contain;

      @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
        background-image: url("../assets/images/mob_menu_star_bottom_right@2x.png");
      }
    }

    .star-bottom-left {
      position: absolute;
      left: 5%;
      bottom: 135px;
      width: 30px;
      height: 30px;
      background-image: url("../assets/images/mob_menu_star_bottom_left.png");
      background-repeat: no-repeat;
      background-size: contain;

      @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
        background-image: url("../assets/images/mob_menu_star_bottom_left@2x.png");
      }
    }
  }

  &__menu_mob-close {
    cursor: pointer;
    position: absolute;
    top: -85px;
    right: -32px;
    width: 96px;
    height: 96px;
    background-image: url("../assets/images/close_icon.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 24px 48px;
    background-color: #d6edf2;
    border-radius: 50%;
  }

  @media (max-width: 1216px) {
    background-color: #fff;

    &__nav-link {
      padding: 5px;
      font-size: 15px;
    }
  }

  @media (max-width: 1023px) {
    &__nav {
      display: none;
    }

    &__logo {
      width: 79px;
      height: 79px;
      margin-top: -6px;
      margin-left: 0;
      margin-bottom: -23px;
    }

    &__logo-ellipse {
      width: 79px;
      height: 79px;
    }

    &__logo-pic {
      width: 58px;
      transform: translateY(-8px);
    }

    &__hamburger {
      display: block;
    }
  }
}

.header__menu_mob {
  display: none;
}

.header__menu_mob.active {
  display: flex !important;
}
</style>
