<template>
  <div class="prizes" id="prizes">
    <div class="container">
      <div class="prizes__top-right-star"></div>
      <h1 class="prizes__title">призы</h1>
      <div class="prizes__list">
        <div class="prizes__item">
          <h3 class="prizes__item-title">
            гарантированные <br />
            призы
          </h3>
          <img
            src="../assets/images/prizes/prize_1.png"
            srcset="../assets/images/prizes/prize_1@2x.png 2x"
            alt=""
            class="prizes__item-img"
          />
          <p class="prizes__item-descr">
            25 рублей на телефон <br />
            + книга в подарок из подборки от литрес
          </p>
        </div>
        <div class="prizes__item">
          <h3 class="prizes__item-title">
            еженедельные <br />
            призы
          </h3>
          <div class="prizes__arrow prizes__arrow--prev"></div>
          <swiper class="swiper" ref="prizes_swiper" :options="swiperOption">
            <swiper-slide v-for="(item, index) in prizes" :key="index">
              <img
                :src="item.img"
                :srcset="`${item.img2x} 2x`"
                alt=""
                class="prizes__item-img"
              />
              <p class="prizes__item-descr" v-html="item.title"></p>
            </swiper-slide>
          </swiper>
          <div class="prizes__arrow prizes__arrow--next"></div>
        </div>
        <div class="prizes__item prizes__item--main">
          <img
            src="../assets/images/prizes/prize_3.png"
            srcset="../assets/images/prizes/prize_3@2x.png 2x"
            alt=""
            class="prizes__item-img"
          />
          <p class="prizes__item-descr">
            поездка в сочи на троих <br />
            с походом в планетарий
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Swiper, SwiperSlide } from "vue-awesome-swiper";
import "swiper/css/swiper.css";

export default {
  components: {
    Swiper,
    SwiperSlide,
  },
  data: function () {
    return {
      swiperOption: {
        slidesPerView: 1,
        navigation: {
          nextEl: ".prizes__arrow--next",
          prevEl: ".prizes__arrow--prev",
        },
        effect: "fade",
        fadeEffect: { crossFade: true },
        autoplay: {
          delay: 1000,
        },
      },
      prizes: [
        {
          img: require("../assets/images/prizes/prize_2.png"),
          img2x: require("../assets/images/prizes/prize_2@2x.png"),
          title:
            "сертификат ozon на&nbsp;космические покупки<br />\n" +
            "номиналом 10&nbsp;000 рублей",
        },
        {
          img: require("../assets/images/prizes/prize_2_1.png"),
          img2x: require("../assets/images/prizes/prize_2_1@2x.png"),
          title: "светильник ночник-проектор<br />" + "звездное небо",
        },
        {
          img: require("../assets/images/prizes/prize_2_2.png"),
          img2x: require("../assets/images/prizes/prize_2_2@2x.png"),
          title: "космо-рюкзак crockid",
        },
        {
          img: require("../assets/images/prizes/prize_2_3.png"),
          img2x: require("../assets/images/prizes/prize_2_3@2x.png"),
          title: "раскраска дом-ракета",
        },
        {
          img: require("../assets/images/prizes/prize_2_4.png"),
          img2x: require("../assets/images/prizes/prize_2_4@2x.png"),
          title: "мультимедийный проектор",
        },
        {
          img: require("../assets/images/prizes/prize_2_5.png"),
          img2x: require("../assets/images/prizes/prize_2_5@2x.png"),
          title: "детский телескоп",
        },
        {
          img: require("../assets/images/prizes/prize_2_6.png"),
          img2x: require("../assets/images/prizes/prize_2_6@2x.png"),
          title: "детский фотоаппарат\n" + "lumicam",
        },
        {
          img: require("../assets/images/prizes/prize_2_7.png"),
          img2x: require("../assets/images/prizes/prize_2_7@2x.png"),
          title: "яндекс.станция мини",
        },
      ],
    };
  },
  methods: {
    nextSlide() {
      this.$refs.prizes_swiper.$swiper.slideNext();
    },
    prevSlide() {
      this.$refs.prizes_swiper.$swiper.slidePrev();
    },
  },
};
</script>

<style lang="scss" scoped>
.prizes {
  position: relative;
  z-index: 9;
  padding-top: 50px;
  padding-bottom: 100px;
  background: #8accd9;

  .container {
    position: relative;
  }

  &__top-right-star {
    position: absolute;
    top: -90px;
    right: 0;
    background-image: url("../assets/images/prizes/top_right_star.png");
    width: 67px;
    height: 66px;
  }

  &__title {
    text-align: center;
    font-size: 56px;
    line-height: 1.2;
    font-family: "alboroto";
    background-image: url("../assets/images/prizes_title_bg.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
  }

  &__item {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
  }

  &__item--main {
    margin-top: -25px;
  }

  &__item-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }

  &__item-img {
    margin: 0 auto 20px;
  }

  &__item-descr {
    text-align: center;
    font-size: 13px;
  }

  @media (max-width: 1023px) {
    padding-bottom: 10px;

    &__item {
      margin-bottom: 20px;
    }

    &__item--main {
      margin-top: 0;
    }

    &__top-right-star {
      width: 57px;
      height: 56px;
      right: 10px;
    }

    &__title {
      font-size: 40px;
      background-size: 145px 30px;
      margin-bottom: 25px;
    }

    &__list {
      flex-direction: column;
    }

    &__item-title {
      font-size: 20px;
      margin-bottom: 13px;
    }
  }

  .swiper-container {
    max-width: 345px;
  }

  .swiper-slide {
    height: auto;
  }

  &__arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -38px;
    background-image: url("../assets/images/prizes/prizes_arrow.svg");
    width: 35.15px;
    height: 37.94px;
    z-index: 2;
  }

  &__arrow--prev {
    right: 50%;
    margin: 152px -180px 0 0;
  }

  &__arrow--next {
    right: 50%;
    margin: 0 150px 0 0;
    transform: rotate(180deg);
  }

  .swiper-button-disabled {
    opacity: 0;
  }

  @media (max-width: 1023px) {
    &__arrow--prev {
      right: 50%;
      margin: 0 -180px 0 0;
    }
  }
}
</style>
