<template>
  <div class="steps">
    <div class="container">
      <!--      <div class="steps__line"></div>-->
      <div class="steps__content">
        <div class="steps__list">
          <div class="steps__item">
            <img
              src="../assets/images/steps/new-steps_1.svg"
              alt=""
              class="steps__number"
            />
            <div class="steps__item-title">1. Покупайте</div>
            <div class="steps__item-descr">
              пюре в мягкой упаковке<br />
              <span class="red">от 5 штук</span>
              в одном чеке
            </div>
          </div>
          <div class="steps__item">
            <img
              src="../assets/images/steps/new-steps_2.svg"
              alt=""
              class="steps__number"
            />
            <div class="steps__item-title">2. регистрируйте</div>
            <div class="steps__item-descr">
              чеки и за каждый получайте<br />
              <span class="big">25 рублей</span>
              на телефон<br />
              и книгу в подарок от Литрес
            </div>
          </div>
          <div class="steps__item">
            <img
              src="../assets/images/steps/new-steps_3.svg"
              alt=""
              class="steps__number"
            />
            <div class="steps__item-title">3. выигрывайте</div>
            <div class="steps__item-descr">
              <span class="big">поездку в Сочи</span><br />
              с походом в планетарий или<br />
              <span class="big">500 000 рублей</span>
            </div>
          </div>
        </div>
        <div class="steps__footer">
          <button
            class="btn btn--primary btn--lg"
            @click.prevent="toCheckUpload()"
          >
            хочу участвовать!
          </button>
        </div>
      </div>
      <!--    /\  <div class="steps__rocket"></div>-->
      <div class="steps__rabbit"></div>
      <div class="steps__star_top_right"></div>
      <div class="steps__star_bottom_right"></div>
      <div class="steps__star_bottom_left"></div>
      <div class="steps__star_top_left"></div>
      <div class="steps__star_top_center"></div>
    </div>
    <img
      src="../assets/images/prize_top_line.svg"
      alt=""
      class="steps__bottom_transition"
    />
  </div>
</template>
<script>
export default {
  components: {},
  data: function () {
    return {};
  },
  methods: {
    showModal(name) {
      this.$modal.show(name);
    },

    toCheckUpload() {
      gtag("event", "click", {
        event_category: "internal",
        event_label: "receipt_button",
      });

      this.$modal.show("action_ended_modal");
    },
  },
};
</script>

<style lang="scss">
.steps {
  position: relative;

  .container {
    position: relative;
    z-index: 99;
  }

  &__star_top_right {
    position: absolute;
    top: 144px;
    right: 30px;
    width: 48px;
    height: 46px;
    background-image: url("../assets/images/steps/star_top_right.png");
  }

  &__star_bottom_right {
    position: absolute;
    right: 180px;
    bottom: 220px;
    width: 48px;
    height: 46px;
    background-image: url("../assets/images/steps/star_bottom_right.png");
  }

  &__star_bottom_left {
    position: absolute;
    left: 260px;
    bottom: 85px;
    width: 64px;
    height: 65px;
    background-image: url("../assets/images/steps/star_bottom_left.png");
  }

  &__star_top_left {
    position: absolute;
    top: 320px;
    left: -10px;
    width: 48px;
    height: 46px;
    background-image: url("../assets/images/steps/star_top_left.png");
  }

  &__star_top_center {
    position: absolute;
    top: 90px;
    left: 352px;
    width: 56px;
    height: 57px;
    background-image: url("../assets/images/steps/star_top_center.png");
  }

  &__line {
    position: absolute;
    top: -217px;
    left: -55px;
    width: 1145px;
    height: 674px;
    background-image: url("../assets/images/steps/line.svg");
  }

  &__rocket {
    position: absolute;
    top: -80px;
    right: -11px;
    width: 145.55px;
    height: 152.45px;
    background-image: url("../assets/images/steps/rocket.png");
    background-repeat: no-repeat;
    background-size: contain;
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url("../assets/images/steps/rocket@2x.png");
    }
  }

  &__content {
    position: relative;
    z-index: 9;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    max-width: 970px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 65px;
  }

  &__item {
    position: relative;
    text-align: center;
  }

  &__item:nth-child(1) {
    margin-top: 135px;
  }

  &__item:nth-child(2) {
    margin-top: 115px;
  }

  &__number {
    max-width: 100%;
    height: auto;
    margin: 0 auto 25px;
  }

  &__item-title {
    color: #e50044;
    font-size: 30px;
    margin-bottom: 10px;
  }

  &__item-descr {
    max-width: 230px;
    margin: 0 auto;
    font-size: 13px;
    .big {
      font-size: 18px;
    }
    .red {
      font-size: 18px;
      color: #e50044;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    padding-bottom: 190px;
  }
  &__footer_decor {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 437px;
    background-image: url("../assets/images/steps_footer_decor.png");
    background-size: cover;
  }

  &__bottom_transition {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    z-index: 9;
  }

  &__rabbit {
    position: absolute;
    bottom: 120px;
    right: 315px;
    width: 446px;
    height: 201px;
    background-image: url("../assets/images/steps/rabbit.png");
    background-size: contain;
    background-repeat: no-repeat;

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url("../assets/images/steps/rabbit@2x.png");
    }
  }

  @media (max-width: 1216px) {
    &__line {
      top: 13px;
      left: -200px;
      transform: rotate(-1deg);
    }

    &__rocket {
      top: -120px;
      right: -35px;
    }

    &__rabbit {
      right: 212px;
    }

    &__list {
      margin-right: 70px;
    }

    &__item:nth-child(2) {
      margin-top: 85px;
    }
    &__item:nth-child(3) {
      margin-top: -35px;
    }
  }

  @media (max-width: 1023px) {
    .container {
      max-width: 375px;
    }

    &__line {
      width: 290px;
      height: 108px;
      top: 80px;
      left: -10px;
      background-image: url("../assets/images/steps/mob_line.svg");
      background-repeat: no-repeat;
    }

    &__rabbit {
      right: -10px;
      bottom: 65px;
      width: 294px;
      height: 133px;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &__list {
      margin-right: 0;
      flex-direction: column;
      padding-bottom: 45px;
    }

    &__item:nth-child(1),
    &__item:nth-child(2),
    &__item:nth-child(3) {
      margin-top: 30px;
    }

    &__number {
      max-width: 128px;
      margin-bottom: 5px;
    }

    &__item-title {
      font-size: 24px;
      margin-bottom: 0;
    }

    &__rocket {
      top: 11px;
      right: 40px;
      max-width: 83px;
      max-height: 86px;
      background-size: contain;
    }

    &__footer {
      padding-bottom: 120px;
    }

    &__star_bottom_left {
      width: 33px;
      height: 32px;
      background-size: contain;
      left: 25px;
      bottom: 181px;
    }

    &__star_bottom_right {
      width: 33px;
      height: 32px;
      background-size: contain;
      right: 45px;
      bottom: 350px;
    }

    &__star_top_left {
      width: 34px;
      height: 33px;
      background-size: contain;
      top: 240px;
      left: 54px;
    }

    &__star_top_right {
      display: none;
    }
    &__star_top_center {
      display: none;
    }
  }
}
</style>
