<template>
  <modal
    :name="name"
    :width="size"
    :adaptive="true"
    :scrollable="true"
    @before-open="beforeOpen"
  >
    <div class="modal">
      <div class="modal__close" @click="closeModal(name)"></div>
      <div class="modal__header">
        <h2 class="modal__title">{{ title }}</h2>
      </div>
      <slot name="content"></slot>
    </div>
  </modal>
</template>

<script>
export default {
  props: {
    size: {
      type: Number,
      default: () => {
        return 460;
      },
    },
    name: {
      type: String,
    },
    title: {
      title: String,
    },
  },
  methods: {
    closeModal(name) {
      this.$emit("closeModal", name);
    },
    beforeOpen(event) {
      this.$parent.beforeOpen(event);
    },
  },
};
</script>

<style lang="scss">
.vm--container {
  overflow: auto;
  .vm--overlay {
    background: rgba(0, 29, 44, 0.85);
  }
}
.vm--modal {
  top: 0 !important;
  height: auto !important;
  min-height: 100vh;
  display: flex;
  align-items: center;
  box-shadow: none !important;
  background-color: transparent !important;
  padding: 20px 0;

  @media (max-width: 767px) {
    padding-bottom: 110px;
  }
}

.modal {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: #8accd9;
  border-radius: 25px;
  padding: 55px;
  &__close {
    cursor: pointer;
    position: absolute;
    top: -32px;
    right: -32px;
    width: 96px;
    height: 96px;
    background-image: url("../assets/images/close_icon.svg");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: 24px 48px;
    background-color: #d6edf2;
    border-radius: 50%;
  }

  &__title {
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
  }
}
</style>
