<template>
  <div class="table_holder">
    <div class="table">
      <div class="table__inner">
        <table>
          <thead>
            <tr>
              <th v-for="(item, index) in thead" :key="index">{{ item }}</th>
            </tr>
          </thead>
          <tbody>
            <slot name="tbody"></slot>
          </tbody>
        </table>
      </div>
    </div>
    <slot name="mobile"></slot>
  </div>
</template>

<script>
export default {
  props: ["thead"],
};
</script>

<style lang="scss">
.table_holder {
  overflow: auto;

  td.status-bad {
    color: #e50044;
  }

  .error_icon {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    width: 17px;
    height: 17px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(1, 63, 93, 0.15);
    border-radius: 50%;
  }
}
.table {
  width: 100%;
  background: #c4e5ec;
  border-radius: 20px;
  padding: 20px;

  &__inner {
    overflow-x: auto;
    overflow-y: scroll;
    min-width: 680px;
    max-height: 380px;
    padding-right: 28px;
    /* width */
    &::-webkit-scrollbar {
      width: 8px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #ffffff;
      border-radius: 5px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background: #8accd9;
      transition: all 0.3s ease-in-out;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #013f5d;
    }
  }

  table {
    width: 100%;
  }

  th {
    font-size: 17px;
    padding: 10px;
    border-right: 3px dashed #ffffff;

    &:last-child {
      border-right: 0;
    }
  }

  td {
    text-align: center;
    font-size: 13px;
    padding: 10px;
    border-right: 3px dashed #ffffff;
    &:last-child {
      border-right: 0;
    }
  }

  tbody tr:nth-child(odd) {
    td {
      background: rgba($color: #fff, $alpha: 0.5);
    }
    td:last-child {
      border-radius: 0 5px 5px 0;
    }
    td:first-child {
      border-radius: 5px 0 0 5px;
    }
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.mobile_table {
  display: none;
  background: #c4e5ec;
  border-radius: 15px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &__header {
    text-align: center;
    color: #013f5d;
    font-size: 17px;
    line-height: 19px;
    padding: 16px 25px 14px;
  }

  table {
    width: 100%;
  }

  tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.5);
  }

  td {
    padding: 13px;
    border-right: 3px dashed #ffffff;
  }

  td:last-child {
    border-right: 0;
  }

  @media (max-width: 767px) {
    display: block;

    .error_icon {
      width: 15px;
      height: 15px;
      margin-left: 3px;
    }
  }
}
</style>
