<template>
  <div class="tabs">
    <ul class="tabs__header">
      <li class="tabs__header-item" v-for="(link, index) in links" :key="index">
        <router-link
          class="tabs__header-link"
          active-class="tabs__header-link--active"
          :to="link.href"
        >
          {{ link.value }}
        </router-link>
      </li>
    </ul>

    <div class="tabs__content">
      <slot name="content"></slot>
    </div>
  </div>
</template>
<script>
export default {
  props: ["links"],
};
</script>

<style lang="scss" scoped>
.tabs {
  &__header {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
  }

  &__header-item {
    margin-right: 20px;
  }

  &__header-link {
    position: relative;
    min-width: 200px;
    display: flex;
    justify-content: center;
    font-family: "alboroto";
    font-size: 24px;
    padding: 15px 50px 5px 40px;
    background-color: #c4e5ec;
    border-radius: 15px 15px 0 0;

    &:after {
      content: "";
      position: absolute;
      top: 10px;
      right: -6px;
      bottom: 0;
      height: 55px;
      width: 20px;
      background-color: #c4e5ec;
      transform: rotate(345deg);
    }
  }

  &__header-link--active {
    position: relative;
    z-index: 1;
    // font-size: 32px;
    padding: 21px 50px 10px 40px;
    background-color: #fff;
    color: #e50044;

    &:after {
      top: 11.5px;
      right: -7.5px;
      height: 60px;
      background-color: #fff;
    }
  }

  &__content {
    position: relative;
    min-height: 300px;
    background: #ffffff;
    padding: 35px;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
  }

  @media (max-width: 1023px) {
    &__header-item {
      margin-right: 10px;
    }

    &__header-link {
      min-width: 95px;
      font-size: 20px;
      padding-bottom: 13px;
      padding: 8px 20px 20px;
      margin-bottom: -20px;
    }

    &__header-link--active {
      padding: 11px 20px 20px;
    }
  }

  @media (max-width: 440px) {
    &__header-link {
      text-align: center;
    }

    &__content {
      padding: 18px;
    }
  }
}
</style>
