<template>
  <div id="app">
    <Header v-if="showHeader" />
    <div class="app-content">
      <router-view />
    </div>
    <Footer />
    <Feedback />
    <Authorization />
    <Recover />
    <SocSignup />
    <SuccessSignup />
    <SuccessRecover />
    <SuccessProfile />
    <SuccessCheck />
    <SuccessFeedback />
    <CommonError />
    <RejectReceipt />
    <ActionEnded />

    <Apmcheck v-if="this.apmInit"></Apmcheck>
  </div>
</template>
<script>
import Header from "@/components/AppHeader.vue";
import Footer from "@/components/AppFooter.vue";
import Feedback from "@/components/modals/feedback.vue";
import Authorization from "@/components/modals/authorization.vue";
//import AccessError from "@/components/modals/accessError.vue";
//import CameraAccess from "@/components/modals/cameraAccess.vue";
import SuccessCheck from "@/components/modals/successCheck.vue";
import SuccessSignup from "@/components/modals/successSignup.vue";
import SuccessRecover from "@/components/modals/successRecover.vue";
import SuccessProfile from "@/components/modals/successProfile.vue";
import SuccessFeedback from "@/components/modals/successFeedback.vue";
import RejectReceipt from "@/components/modals/rejectReceipt.vue";
//import UploadCheck from "@/components/modals/uploadCheck.vue";
import CommonError from "@/components/modals/commonError.vue";
import Recover from "@/components/modals/recover.vue";
import SocSignup from "@/components/modals/soc_signup.vue";

import Apmcheck from "@/components/Apmcheck.vue";
import ActionEnded from "./components/modals/actionEnded";

export default {
  components: {
    ActionEnded,
    Header,
    Footer,
    Feedback,
    Authorization,
    //  AccessError,
    //	CameraAccess,
    SuccessCheck,
    SuccessSignup,
    SuccessRecover,
    SuccessProfile,
    SocSignup,
    SuccessFeedback,
    //  UploadCheck,
    CommonError,
    Apmcheck,
    Recover,
    RejectReceipt
  },
  data: function () {
    return {
      showHeader: true,
      apmInit: false,
      rejectedReceipts: []
    };
  },
  methods: {
    checkAuth(t) {
      if (this.$store.getters.token) {
        if (!this.$store.getters.user) {
          this.$store.dispatch("GetProfile").then((response) => {

            if (response.error != 0) {
              if (this.$route.path !== "/") {
                this.$router.push("/");
              }
            } else {

              console.log(response.result.bad_id);

              if(response.result.bad_id.length) {

                if(this.rejectedReceipts.length) {

                  let filteredStorage = response.result.bad_id.filter(o1 => !this.rejectedReceipts.some(o2 => o1.id === o2.id));

                  console.log(filteredStorage);
                  console.log(this.rejectedReceipts);


                  if(filteredStorage.length) {

                    this.$modal.show("reject_receipt_modal");
                  }
                } else {

                  this.$modal.show("reject_receipt_modal");
                  this.rejectedReceipts = response.result.bad_id;

                }

                localStorage.setItem("rejectedReceipts", JSON.stringify(response.result.bad_id));
              }


              setTimeout(function () {
                t.apmInit = true;
              }, 1000);
            }
          });
        }
      }
    },
  },
  mounted() {
    let t = this;

    this.$root.$on("onLogined", function () {
      t.apmInit = true;
    });

    this.$modal.show("action_ended_modal");
    this.checkAuth(t);
  },
  created() {
    this.rejectedReceipts = JSON.parse(localStorage.getItem("rejectedReceipts") || '[]')
  },
};
</script>

<style lang="scss">
@font-face {
  font-family: "a_futuraroundbold";
  src: url("./assets/fonts/a_futura_round.woff2") format("woff2"),
    url("./assets/fonts/a_futura_round.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "alboroto";
  src: url("./assets/fonts/alboroto.woff2") format("woff2"),
    url("./assets/fonts/alboroto.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;

  @media (min-height: 730px) {
    font-size: 13px;
  }

  @media (min-height: 950px) {
    font-size: 14.5px;
  }
}

.app-content {
  flex: 1;
  @media (min-width: 640px) {
    display: flex;

    & > div {
      flex: 1;
    }
  }
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "a_futuraroundbold";
  font-weight: 700;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #013f5d;
  overflow-x: hidden;
  min-width: 360px;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
